<!DOCTYPE html>
<html data-theme="<%= theme || 'purple' %>" lang="en">

<head>
  <%-include('../partials/head') %>
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="/styles/css/admin.css">
</head>

<body>
  <%-include('../partials/loader') %>
  <%-include('../partials/navbar') %>
  <br><br><br><br>

  <div class="admin-btns">
    <button onclick="openNewsLetter()" class="tool-btn"><span class="fal fa-newspaper"></span> Create new newsletter</button>
    <button onclick="openSendNotification()" class="tool-btn"><span class="fal fa-bell"></span> Send push notification</button>
    <button onclick="window.location.href='/admin/users'" class="tool-btn"><span class="fal fa-users"></span> Manage users</button>
    <button onclick="window.location.href='/admin/analytics'" class="tool-btn"><span class="fal fa-chart-mixed"></span> Analytics</button>
  </div>

  <div class="analytics-capsule">
    <p class="capsule-head"><b>Analytics overview</b></p>
    <div class="users-active">
      <p class="label">Users active now</p>
      <p class="value"><%= activeUsers %></p>
    </div><br>
    <div class="users-today">
      <p class="label">Users today</p>
      <p class="value"><%= usersToday %></p>
    </div>
  </div>

  <% if(reports.length > 0){ %>
  <div class="reports-logs">
    <h2>Submitted Reports</h2>
    <input type="text" id="reportSearch" placeholder="Search reports..." class="search-bar" />
    <div class="logs-table-wrapper">
      <table class="logs-table" id="reports-table">
        <thead>
          <tr>
            <th>User</th>
            <th>Subject</th>
            <th>Details</th>
            <th>Time</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% reports.forEach(report=> { %>
          <tr id="report-<%= report._id %>">
            <td onclick="<%- `window.location.href='/${report.user?.username}'` %>" style="cursor: pointer;">
              <%= report.user?.username || 'Guest' %>
            </td>
            <td>
              <%= report.subject %>
            </td>
            <td>
              <%= report.details.length> 50 ? report.details.substring(0, 50) + '...' : report.details %>
            </td>
            <td>
              <%= new Date(report.createdAt).toLocaleString('en-IN', { timeZone: 'Asia/Kolkata', day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) %>
            </td>
            <td>
              <span onclick="openResolveReport('<%= report._id %>')" class="resolve-link">Resolve</span>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
  <% } %>


  <div class="activity-logs">
    <h2>Activity Logs</h2>
    <input type="text" id="logSearch" placeholder="Search logs..." class="search-bar" style="display: none">
    <div class="logs-table-wrapper">
      <table class="logs-table" id="logs-table">
        <thead>
          <tr>
            <th>User</th>
            <th>Activity</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <button id="loadMoreLogsBtn" class="load-more-btn">Load Previous Day</button>
    </div>
  </div>
  <br><br>

  <div id="resolve-report-popup">
    <div class="overlay" onclick="closeResolveReport()"></div>
    <div class="resolve-report-box">
      <div class="heading">
        <p class="title"><span class="fal fa-shield-check"></span> Resolve report</p>
        <p class="close-icon fal fa-xmark" onclick="closeResolveReport()"></p>
      </div>
      <div class="resolve-report-list" id="resolve-report-list">
        <span class="grey-1 info-box">This report (id: <span id="report-id"></span>) is submitted by <span id="report-user"></span> on <span id="report-time"></span>.</span>
        <p class="subject-box" id="subject-box"></p>
        <p class="details-box"><b>Details: </b> <span id="report-details"></span></p>
        <form id="resolve-report-form">
          <input type="hidden" name="reportId" value="" id="report-id-input">
          <textarea autocomplete="off" rows="5" name="resolution" placeholder="Enter resolution (Max 1000 characters)" required id="resolution"></textarea>
          <br>
          <div id="resolve-report-status"></div><br>
          <button type="submit">Close report with this resolution</button>
        </form>
      </div>
    </div>
  </div>

  <div id="newsletter-popup">
    <div class="overlay" onclick="closeNewsLetter()"></div>
    <div class="newsletter-box">
      <div class="heading">
        <p class="title"><span class="fal fa-newspaper"></span> New newsletter</p>
        <p class="close-icon fal fa-xmark" onclick="closeNewsLetter()"></p>
      </div>
      <div class="newsletter-list" id="newsletter-list">
        <p class="grey-1 info-box">Use unique number inside title to avoid grouping in inbox of users.</p>
        <p class="grey-1">Newsletter will be sent at 9 AM on the date you choose.</p>
        <form id="newsletter-form">
          <input type="text" name="title" placeholder="Title (ex. July Newsletter #1)" id="newsletter-title" required />
          <textarea name="newsLetterContent" rows="7" placeholder="HTML content (script tag not allowed)" id="newsletter-content" required></textarea>
          <input type="date" placeholder="Date to send this" name="scheduledAt" id="newsletter-scheduledAt" required /><br><br>
          <div id="newsletter-status"></div><br>
          <button type="submit">Save newsletter</button>
        </form>
      </div>
    </div>
  </div>

  <div id="send-notification-popup">
    <div class="overlay" onclick="closeSendNotification()"></div>
    <div class="send-notification-box">
      <div class="heading">
        <p class="title"><span class="fal fa-bell"></span> Send Notification</p>
        <p class="close-icon fal fa-xmark" onclick="closeSendNotification()"></p>
      </div>
      <div class="send-notification-list" id="send-notification-list">
        <span class="grey-1"><span class="fal fa-info-circle"></span> &nbsp; Only users who opted for push notifications will recieve this notification.</span><br><br>
        <form id="send-notification-form">
          <input type="text" autocomplete="off" id="send-notification-title" name="title" required placeholder="Title" />
          <textarea name="body" rows="5" required id="send-notification-body" placeholder="Notification body..."></textarea>
          <input type="text" autocomplete="off" id="send-notification-url" name="url" placeholder="URL (optional)" />
          <br>
          <div id="send-notification-status"></div><br>
          <button type="submit">Send notification</button>
        </form>
      </div>
    </div>
  </div>

  <div id="toast-container" style="position: absolute; bottom: 32px; left: 50%; transform: translateX(-50%); z-index: 9999;"></div>

  <script src="/js/admin.js"></script>
</body>

</html>