<!DOCTYPE html>
<html data-theme="<%= theme ?? 'purple' %>" data-font="<%= font ?? 'Lato' %>" lang="en">

<head>
  <%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/styles/css/signup_login.css" />
  <title>Log In • 2k17 Platform</title>
</head>

<body>
  <%- include('../partials/loader.ejs') %>
  <%- include('../partials/navbar.ejs') %>
  <div class="container loader-after-body" style="display: none;">
    <div class="right-pane">
      <div class="signup-form">
        <h1>Log in to 2k17 ❤️</h1>
        <p>Don't have an account? &nbsp;<a href="/create-account">Create account</a></p>
        <p class="grey-1" style="line-height: 24px;"><span class="fal fa-info-circle"></span> &nbsp; Login with Email OTP is disabled due to some unknown error in the code. You can login with google using same email id. </p>
        <div>
          <div class="email-field">
            <input type="email" disabled id="login-email" name="email" placeholder="Enter your email" onkeyup="if(event.key === 'Enter') document.getElementById('send-otp-btn').click()" />
          </div>
          <input oninput="Number(this.value) > 999999 ? this.value = this.value.slice(0, 6) : this.value" type="number" min="0" max="99999" style="display: none;" name="otp" id="otp" placeholder="Enter OTP" onkeyup="if(event.key === 'Enter') document.getElementById('login-btn').click()" />
        </div><br>
        <button class="primary-btn" id="send-otp-btn" onclick="alert('Login with Email OTP is disabled. Please use other login methods.') // sendOTP(); document.querySelector('.google-btn').style.display = 'none'; ">Send OTP</button><br>
        <a href="/login" class="email-btn">
          <span style="font-size: 1.1rem;" class="fal fa-lock-keyhole email-icon"></span>
          Continue with Password
        </a>
        <a href="/auth/google" class="google-btn">
          <img src="/images/icons/google.svg" alt="Google Logo" class="google-icon">
          Continue with Google
        </a><br>
        <button class="primary-btn" style="display: none;" id="login-btn" onclick="email_login()">Verify and Login</button><br><br>
      </div>
    </div>
  </div>



  <script src="/js/login.js"></script>
</body>

</html>