<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <title>2k17 — Class Social Space</title>
  <link rel="stylesheet" href="/styles/css/home.css" />
</head>
<body>
  <%- include('../partials/loader.ejs') %>
  <%- include('../partials/navbar.ejs') %>

  <main>
    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-text">
          <h2 id="greeting"><span id="greeting-msg"></span>, <%= user.name.split(' ')[0] %></h2>
          <p>Ready to catch up with your batchmates and relive the best moments of 2k17?</p><br>
          <a class="cta-btn" onclick="document.getElementById('posts').scrollIntoView({behavior: 'smooth'})">Explore &nbsp; &nbsp; <span class="fal fa-arrow-right"></span></a>
        </div>
        <div class="featured-photo" onclick="window.open()">
          <img src="/images/jnv-bg-1.jpg" alt="Today's featured photo" class="featured-photo-img">
          <div class="overlay-text">Photo of the Day</div>
        </div>
    </section>

    <div class="events-container">
    <section id="events" class="events">
      <p class="heading">Upcoming Birthdays</p>
      <% if(birthdays.length > 0){ %>
      <% birthdays.forEach(member => { %>
      <div class="event">
        <img src="<%= member.profile ? member.profile : '/images/user.png' %>" alt="" class="event-img">
        <div class="event-info">
          <p class="title"><%= member.name %> 🎂</p>
          <p class="description">on <%- formatDate2(member.dob) %></p>
        </div>
      </div>
      <% }) %>
      <% } else { %>
        <p class="grey-1">No upcoming birthdays in next 30 days.</p>
      <% } %>
    </section>
    </div><br><br><br>

    <div class="create-post-box small-only" onclick="openPostPopup()">
      <p class="heading">Create a new post</p>
      <div class="pseudo-post-box">
        <input readonly type="text" placeholder="What's on your mind?">
        <span class="fal fa-image"></span>
      </div>
    </div>
    <span class="small-only"><br><br></span>

    <section class="posts" id="posts">
      <p class="heading">Posts in last 6 months</p>
    </section>

    <br><br><br><br><br>
  </main>

  <div id="comments-popup">
    <div class="overlay" onclick="hidePopup()" id="overlay"></div>
    <div class="comments-box">
      <div class="heading"><p>Comments</p><p class="close-icon fas fa-times" onclick="hidePopup()"></p></div>
      <div class="comments-list" id="comments-list">
      </div>
      <div class="input-area">
        <input id="new-comment" autocomplete="off" placeholder="Write a comment..."/>
        <button type="button" id="newCommentBtn">Post</button>
      </div>
    </div>
  </div>

  <div id="post-popup" class="popup-wrapper">
    <div class="overlay" onclick="closePostPopup()"></div>

    <div class="post-box">
      <div class="heading">
        <p>Create a new post</p>
        <p class="close-icon fal fa-xmark" onclick="closePostPopup()"></p>
      </div>
      <textarea name="content" placeholder="What's on your mind?" id="post-text" required></textarea>
      <input type="file" id="media-input" accept="image/*,video/*">
      <label for="media-input" class="upload-label"><span class="fal fa-upload"></span> &nbsp; Add photo/video</label>
      <div class="preview" id="media-preview"></div>

      <div class="action-buttons">
        <button class="cancel-btn" onclick="closePostPopup()">Cancel</button>
        <button class="create-post-btn" onclick="createPost('<%= user._id %>')">Post</button>
      </div>
      
    </div>
  </div>


  <script src="/js/home.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      loadPosts('<%= user._id %>');
      document.getElementById('media-input').addEventListener('change', function () {
        const preview = document.getElementById('media-preview');
        preview.innerHTML = '';
        Array.from(this.files).forEach(file => {
          const url = URL.createObjectURL(file);
          const el = file.type.startsWith('image')
            ? `<img src="${url}" />`
            : `<video src="${url}" muted autoplay loop />`;
          preview.innerHTML += el;
        });
      });
    })
  </script>

</body>
</html>
