<!DOCTYPE html>
<html data-theme="<%= theme ?? 'purple' %>" data-font="<%= font ?? 'Lato' %>" lang="en">

<head>
  <%- include('../partials/head.ejs') %>
  <title>Home ❤️ 2k17</title>
  <link rel="stylesheet" href="/styles/css/home.css" />
  <link rel="stylesheet" href="/styles/css/quill/min.css" />
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#1f1c2e">
  <meta name="accent-color" content="<%= theme? theme : 'purple' %>">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="/images/icons/logo_192x192.png">
  <script src="/js/quill/min.js"></script>

</head>

<body>

  <%- include('../partials/navbar') %>
  <%- include('../partials/loader') %>
  <main class="loader-after-body" style="display: none;">
    <!-- Hero Section -->
    <section class="hero">
      <div class="hero-text">
        <!--ganesha theme <h2 id="greeting"><span id="greeting-msg"></span>, <%= user.name.split(' ')[0] %></h2>-->
        <h2 id="greeting">Happy Ganesh Chaturthi!</h2>
        <!--ganesha theme <p>Click the button below to know about latest features and improvements</p><br>-->
        <p>May bappa bless you with happiness and joy. Click on ganesha in corner and catch some modak to eat 😋</p><br>
        <!--ganesha theme <a class="cta-btn" href="/whatsnew"><span class="fal fa-sparkle"></span> &nbsp; &nbsp; What's new</a>-->
        <a class="cta-btn" href="#" onclick="makeConfetti()">गणपति बाप्पा मोरया &nbsp;🎉</a>
      </div>
      <div class="featured-photo">
        <!--ganesha theme <img src="<%= featuredPhoto.url %>" alt="Today's featured photo" class="featured-photo-img">-->
        <img src="/images/ganesha_featured_image.jpg" alt="Ganesha Image" class="featured-photo-img">
        <div class="overlay-text">Featured photo</div>
      </div>
    </section>

    <% if (birthdays.length > 0) { %>
    <section id="birthday-spotlight" class="no-select">
      <h3><span class="fal fa-cake-candles"></span> Birthday Spotlight</h3>

      <div class="gallery-grid">
        <% birthdays.forEach(bdayuser => { %>
        <div class="image-card" style="padding: 1rem;" onclick="window.location.href='/<%= bdayuser.username %>'">
          <img src="<%- bdayuser.profile || '/images/user.png' %>" alt="<%= bdayuser.name %>'s photo">
          <h4 style="margin-bottom: 4px;"><%= bdayuser.name %> <%- bdayuser.isBirthdayToday ? '🎂' : '' %></h4>
          <p><%= bdayuser.username %></p>
          <% if(bdayuser.isBirthdayToday){ %>
          <p style="line-height: 26px;">Happy Birthday! 🎉</p>
          <% } else { %>
          <p style="line-height: 26px;"><%- formatDOB(bdayuser.dob) %></p>
          <% } %>
        </div>
        <% }) %>
      </div>
    </section>
    <% } %>
    <br>
    <div class="pwa-banner" id="pwaBanner" style="display: none;">
      <div class="text">
        <div class="title"><span class="fal fa-mobile-screen-button"></span> 2k17 is now an app</div>
        <div class="subtitle">Get exciting features</div>
      </div>
      <button class="install-btn" id="installBtn">Install</button>
    </div>

    <!-- ganesha theme -->
    <div class="competition">
      <div class="competition-box">
        <h3>2k17 Loves Ganesha ❤️</h3>
        <p>Share photos of Ganpati decoration near you with everyone and win exciting badges. Decoration with most likes will get a special badge 😁</p>
        <button onclick="openPostPopup()">Share now!</button>
      </div>
    </div>

    <br class="small-only">

    <div class="create-post-box small-only" onclick="openPostPopup()">
      <p class="heading">Create a new post</p>
      <div class="pseudo-post-box">
        <input readonly type="text" placeholder="What's on your mind?">
        <span class="fal fa-image"></span>
      </div>
    </div>
    <span class="small-only"><br></span>

    <section class="posts" id="posts">
    </section>

    <br><br><br><br><br>
  </main>

  <div id="comments-popup">
    <div class="overlay" onclick="hidePopup()" id="overlay"></div>
    <div class="comments-box">
      <div class="heading">
        <p>Comments</p>
        <p class="close-icon fas fa-times" onclick="hidePopup()"></p>
      </div>
      <div class="comments-list" id="comments-list">
      </div>
      <div id="editor" class="editor" contenteditable="true" placeholder="Express your opinion..."></div>
      <ul id="mentionBox" class="mention-box hidden" style="margin: 14rem 0 0 0.75rem;"></ul>
      <div class="input-area comment-container">
        <input id="new-comment" autocomplete="off" placeholder="Comment (Mention using @username)..." />
        <button type="button" id="newCommentBtn">Post</button>
      </div>
    </div>
  </div>

  <div id="post-popup" class="popup-wrapper">
    <div class="overlay" onclick="closePostPopup()"></div>
    <div class="post-box">
      <div class="heading">
        <p>Create a new post</p>
        <p class="close-icon fal fa-xmark" onclick="closePostPopup()"></p>
      </div>
      <span class="grey-1" style="margin: 1rem 0;"><span class="fal fa-info-circle"></span> &nbsp;You can mention people by typing @ followed by their name or username. Use @all to mention everyone.</span>
      <div id="editor2" class="editor" placeholder="Say hi to everyone..."></div>
      <textarea id="hiddenContent" name="content" hidden></textarea>
      <ul id="mentionBox" class="mention-box hidden"></ul>
      <input type="file" id="media-input" accept="image/*">
      <label for="media-input" class="upload-label"><span class="fal fa-upload"></span> &nbsp; Add photo</label>
      <div class="preview" id="media-preview"></div>

      <div class="action-buttons">
        <button class="cancel-btn" onclick="closePostPopup()">Cancel</button>
        <button class="create-post-btn" onclick="createPost('<%= user._id %>')">Post</button>
      </div>
    </div>
  </div>

  <div id="post-likes-popup">
    <div class="overlay" onclick="closePostLikes()"></div>
    <div class="post-likes-box">
      <div class="heading">
        <p class="title"><span class="fal fa-heart"></span> Likes on post</p>
        <p class="close-icon fal fa-xmark" onclick="closePostLikes()"></p>
      </div>
      <div class="post-likes-list" id="post-likes-list">

      </div>
    </div>
  </div>

  <!-- ganesha theme virtual prasad -->
  <div id="virtual-prasad" onclick="window.location.href='/modak'">
    <?xml version="1.0" encoding="UTF-8"?>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44px" height="44px" viewBox="0 0 70 70" version="1.1">
      <g id="surface1">
        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(0.784314%,0.784314%,0.784314%);fill-opacity:1;" d="M 31.992188 -0.0546875 C 32.089844 -0.0546875 32.191406 -0.0546875 32.292969 -0.0507812 C 33.039062 -0.03125 33.621094 0.078125 34.25 0.5 C 34.339844 0.554688 34.425781 0.613281 34.515625 0.667969 C 34.945312 0.964844 35.269531 1.25 35.554688 1.6875 C 36.222656 2.699219 37.441406 3.082031 38.53125 3.476562 C 38.820312 3.585938 39.109375 3.695312 39.398438 3.804688 C 39.542969 3.855469 39.683594 3.910156 39.832031 3.964844 C 42.90625 5.136719 46.191406 6.746094 47.804688 9.78125 C 47.992188 10.125 47.992188 10.125 48.25 10.375 C 48.640625 10.464844 48.957031 10.445312 49.351562 10.410156 C 51.082031 10.261719 52.582031 11.0625 53.875 12.125 C 55.382812 13.425781 56.402344 15.132812 57.394531 16.839844 C 57.824219 17.578125 58.261719 18.308594 58.726562 19.023438 C 58.78125 19.109375 58.839844 19.195312 58.898438 19.285156 C 59.222656 19.785156 59.566406 20.261719 59.929688 20.734375 C 60.867188 22.019531 61.046875 23.320312 60.875 24.875 C 60.691406 25.828125 60.203125 26.5625 59.613281 27.3125 C 59.382812 27.617188 59.246094 27.800781 59.265625 28.1875 C 59.34375 28.410156 59.421875 28.632812 59.503906 28.851562 C 60.082031 30.753906 59.324219 32.542969 58.460938 34.21875 C 58.011719 35.054688 57.507812 35.789062 56.875 36.5 C 56.792969 36.601562 56.710938 36.699219 56.628906 36.804688 C 54.804688 38.984375 51.960938 40.421875 49.15625 40.816406 C 48.8125 40.84375 48.472656 40.867188 48.125 40.875 C 48.179688 41.054688 48.179688 41.054688 48.234375 41.234375 C 48.28125 41.394531 48.328125 41.550781 48.375 41.710938 C 48.421875 41.867188 48.46875 42.019531 48.515625 42.179688 C 48.609375 42.5625 48.648438 42.859375 48.625 43.25 C 48.78125 43.238281 48.941406 43.230469 49.101562 43.21875 C 50.238281 43.222656 51.316406 43.707031 52.125 44.5 C 53.128906 45.6875 53.308594 46.945312 53.28125 48.460938 C 53.28125 48.597656 53.28125 48.734375 53.28125 48.875 C 53.269531 49.953125 53.269531 49.953125 53.167969 50.492188 C 53.117188 50.9375 53.1875 51.117188 53.398438 51.507812 C 54.40625 53.589844 54.671875 56.023438 53.90625 58.242188 C 52.96875 60.527344 51.5 62.28125 49.25 63.375 C 48.117188 63.820312 47.121094 64.019531 45.910156 64.015625 C 45.789062 64.019531 45.664062 64.019531 45.539062 64.019531 C 45.125 64.019531 44.714844 64.019531 44.300781 64.019531 C 44.003906 64.019531 43.710938 64.019531 43.414062 64.023438 C 42.527344 64.023438 41.640625 64.023438 40.75 64.023438 C 40.332031 64.027344 39.914062 64.027344 39.496094 64.027344 C 38.101562 64.027344 36.710938 64.027344 35.320312 64.03125 C 35.230469 64.03125 35.140625 64.03125 35.050781 64.03125 C 34.960938 64.03125 34.871094 64.03125 34.777344 64.03125 C 34.597656 64.03125 34.417969 64.03125 34.234375 64.03125 C 34.101562 64.03125 34.101562 64.03125 33.964844 64.03125 C 32.511719 64.03125 31.058594 64.03125 29.605469 64.035156 C 28.113281 64.039062 26.621094 64.039062 25.128906 64.039062 C 24.292969 64.039062 23.453125 64.042969 22.617188 64.042969 C 21.828125 64.046875 21.039062 64.046875 20.25 64.042969 C 19.964844 64.042969 19.675781 64.046875 19.386719 64.046875 C 16.472656 64.058594 14.21875 63.578125 12.074219 61.453125 C 10.261719 59.523438 9.667969 57.339844 9.707031 54.75 C 9.800781 52.320312 11.011719 50.144531 12.75 48.5 C 14.195312 47.25 14.195312 47.25 14.875 47.25 C 14.871094 47.09375 14.871094 46.933594 14.867188 46.773438 C 14.867188 46.09375 14.929688 45.425781 15 44.75 C 14.886719 44.699219 14.886719 44.699219 14.773438 44.648438 C 14.050781 44.257812 13.617188 43.507812 13.335938 42.753906 C 13.160156 41.972656 13.214844 41.171875 13.25 40.375 C 13.175781 40.359375 13.101562 40.347656 13.023438 40.332031 C 10.121094 39.671875 7.625 37.558594 6.027344 35.117188 C 5.582031 34.402344 5.214844 33.644531 4.875 32.875 C 4.816406 32.746094 4.761719 32.621094 4.703125 32.488281 C 4.253906 31.34375 4.101562 29.8125 4.570312 28.648438 C 4.660156 28.453125 4.660156 28.453125 4.75 28.25 C 4.710938 27.730469 4.363281 27.332031 4.078125 26.914062 C 3.136719 25.472656 2.867188 24.066406 3.203125 22.355469 C 3.445312 21.601562 3.855469 21.015625 4.332031 20.390625 C 5.1875 19.242188 5.929688 18.007812 6.648438 16.773438 C 7.453125 15.386719 8.320312 14.085938 9.375 12.875 C 9.453125 12.785156 9.53125 12.695312 9.613281 12.601562 C 10.949219 11.160156 12.554688 10.511719 14.476562 10.390625 C 14.875 10.375 14.875 10.375 15.332031 10.414062 C 15.765625 10.421875 15.765625 10.421875 16.007812 10.101562 C 16.074219 9.972656 16.144531 9.847656 16.21875 9.71875 C 18.128906 6.605469 21.199219 5.105469 24.5 3.859375 C 24.757812 3.761719 25.011719 3.664062 25.269531 3.566406 C 25.515625 3.472656 25.761719 3.378906 26.003906 3.289062 C 26.996094 2.914062 27.972656 2.460938 28.578125 1.554688 C 29.429688 0.390625 30.566406 -0.0742188 31.992188 -0.0546875 Z M 31.992188 -0.0546875 "></path>
        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(99.215686%,86.274511%,88.627452%);fill-opacity:1;" d="M 51.941406 13.085938 C 53.972656 14.628906 55.144531 16.839844 56.402344 19.003906 C 56.890625 19.832031 57.417969 20.617188 57.988281 21.390625 C 58.679688 22.339844 59.101562 23.0625 59 24.25 C 58.824219 25.183594 58.316406 25.882812 57.75 26.625 C 57.65625 26.582031 57.558594 26.539062 57.460938 26.492188 C 57.339844 26.4375 57.214844 26.378906 57.085938 26.320312 C 56.960938 26.265625 56.839844 26.207031 56.710938 26.148438 C 55.765625 25.730469 54.515625 25.707031 53.511719 25.96875 C 53.242188 26.085938 53 26.21875 52.75 26.375 C 52.621094 26.445312 52.492188 26.519531 52.359375 26.59375 C 51.539062 27.234375 50.996094 28.039062 50.460938 28.921875 C 49.535156 30.363281 48.007812 31.289062 46.351562 31.664062 C 46.195312 31.691406 46.035156 31.722656 45.875 31.75 C 45.9375 31.65625 46.003906 31.558594 46.070312 31.460938 C 47.570312 29.207031 48.554688 27.1875 48.523438 24.429688 C 48.523438 24.296875 48.523438 24.160156 48.523438 24.023438 C 48.570312 22.621094 48.570312 22.621094 48.101562 21.359375 C 47.765625 21.085938 47.765625 21.085938 47.351562 21.132812 C 46.988281 21.226562 46.988281 21.226562 46.75 21.5 C 46.722656 21.90625 46.722656 21.90625 46.742188 22.386719 C 46.746094 22.574219 46.75 22.757812 46.753906 22.941406 C 46.757812 23.230469 46.765625 23.519531 46.773438 23.804688 C 46.847656 26.480469 46.117188 28.761719 44.25 30.75 C 42.460938 32.589844 40.027344 33.667969 37.617188 34.433594 C 36.535156 34.789062 35.695312 35.230469 35.132812 36.257812 C 34.8125 37.136719 34.859375 38.125 35.1875 39 C 35.699219 39.957031 36.578125 40.324219 37.570312 40.648438 C 38.3125 40.824219 39.050781 40.816406 39.8125 40.8125 C 40.121094 40.8125 40.429688 40.8125 40.738281 40.816406 C 40.941406 40.816406 40.941406 40.816406 41.144531 40.816406 C 41.585938 40.890625 41.726562 41.027344 42 41.375 C 42.164062 41.777344 42.164062 41.777344 42.289062 42.226562 C 42.332031 42.375 42.375 42.523438 42.421875 42.675781 C 42.507812 43.167969 42.5 43.511719 42.375 44 C 42.023438 44.488281 41.671875 44.59375 41.09375 44.710938 C 40.960938 44.738281 40.824219 44.769531 40.6875 44.796875 C 37.929688 45.285156 34.882812 45.253906 32.5 43.625 C 30.417969 42.015625 29.429688 39.761719 28.953125 37.21875 C 28.757812 36.289062 28.5 35.585938 27.6875 35.042969 C 26.914062 34.632812 26.09375 34.347656 25.277344 34.046875 C 22.1875 32.90625 19.363281 31.09375 17.917969 28.035156 C 16.511719 24.625 17.328125 20.9375 18.625 17.625 C 19.441406 15.683594 20.546875 13.832031 22.5 12.875 C 24.578125 12.042969 27.105469 13.054688 29.132812 13.644531 C 29.253906 13.679688 29.375 13.714844 29.5 13.75 C 29.597656 13.777344 29.695312 13.808594 29.796875 13.835938 C 31.847656 14.34375 33.886719 13.933594 35.875 13.375 C 36.089844 13.316406 36.304688 13.257812 36.519531 13.199219 C 36.902344 13.09375 37.28125 12.984375 37.664062 12.875 C 39.253906 12.4375 40.785156 12.433594 42.25 13.25 C 44.042969 14.527344 45.125 16.679688 45.765625 18.746094 C 45.867188 19.042969 45.867188 19.042969 46.25 19.25 C 46.695312 19.238281 46.695312 19.238281 47.125 19.125 C 47.4375 18.65625 47.390625 18.46875 47.316406 17.933594 C 47.207031 17.425781 47.007812 16.976562 46.789062 16.507812 C 46.746094 16.410156 46.699219 16.3125 46.652344 16.210938 C 46.355469 15.566406 46.027344 14.953125 45.640625 14.355469 C 45.5 14.125 45.5 14.125 45.375 13.75 C 47.453125 12.570312 49.730469 11.601562 51.941406 13.085938 Z M 51.941406 13.085938 "></path>
        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(99.215686%,69.01961%,74.901962%);fill-opacity:1;" d="M 21.375 34.375 C 21.898438 34.433594 22.285156 34.632812 22.742188 34.882812 C 23.644531 35.359375 24.585938 35.691406 25.554688 36.007812 C 26.210938 36.234375 26.714844 36.410156 27.125 37 C 27.269531 37.410156 27.355469 37.824219 27.4375 38.25 C 27.664062 39.292969 27.929688 40.273438 28.375 41.25 C 28.4375 41.382812 28.496094 41.519531 28.5625 41.65625 C 29.675781 43.90625 31.605469 45.457031 33.957031 46.285156 C 36.535156 47.0625 40.292969 47.144531 42.796875 45.988281 C 43.484375 45.597656 43.835938 45.121094 44.15625 44.398438 C 44.371094 43.484375 44.238281 42.632812 43.984375 41.742188 C 43.957031 41.644531 43.929688 41.546875 43.898438 41.445312 C 43.648438 40.617188 43.367188 39.945312 42.621094 39.460938 C 42.007812 39.132812 41.460938 38.980469 40.765625 38.996094 C 40.648438 39 40.53125 39 40.410156 39 C 40.164062 39.003906 39.921875 39.011719 39.675781 39.015625 C 38.773438 39.027344 37.828125 39.015625 37.054688 38.492188 C 36.695312 38.058594 36.660156 37.832031 36.648438 37.285156 C 36.808594 36.832031 37.101562 36.613281 37.5 36.375 C 38.015625 36.140625 38.546875 35.949219 39.078125 35.757812 C 40.070312 35.398438 41.007812 35.015625 41.933594 34.503906 C 42.25 34.375 42.25 34.375 42.527344 34.398438 C 42.894531 34.566406 43.085938 34.878906 43.3125 35.203125 C 43.367188 35.277344 43.417969 35.355469 43.472656 35.433594 C 44.964844 37.636719 47.039062 41.207031 46.75 44 C 46.554688 44.25 46.554688 44.25 46.289062 44.46875 C 45.480469 45.214844 45.019531 46.164062 44.960938 47.265625 C 44.957031 47.359375 44.949219 47.453125 44.945312 47.550781 C 44.9375 47.695312 44.9375 47.695312 44.929688 47.84375 C 44.925781 47.941406 44.917969 48.042969 44.914062 48.144531 C 44.898438 48.386719 44.886719 48.632812 44.875 48.875 C 41.253906 50.429688 37.597656 51.523438 33.625 51.625 C 33.488281 51.628906 33.351562 51.632812 33.207031 51.636719 C 27.832031 51.777344 27.832031 51.777344 25.5 51 C 25.121094 50.957031 24.753906 50.949219 24.375 51 C 24.097656 51.191406 24.097656 51.191406 24 51.5 C 23.960938 51.894531 24 52.121094 24.125 52.5 C 24.425781 52.609375 24.699219 52.683594 25.007812 52.75 C 25.105469 52.769531 25.199219 52.792969 25.300781 52.8125 C 27.6875 53.289062 30.199219 53.402344 32.625 53.5 C 32.28125 54.136719 31.90625 54.675781 31.429688 55.21875 C 31.363281 55.292969 31.296875 55.371094 31.230469 55.449219 C 30.203125 56.617188 29.109375 57.675781 27.875 58.625 C 27.792969 58.6875 27.714844 58.75 27.632812 58.816406 C 27.042969 59.273438 26.441406 59.710938 25.832031 60.136719 C 25.609375 60.296875 25.394531 60.457031 25.183594 60.625 C 22.828125 62.464844 20.25 62.464844 17.375 62.125 C 15.523438 61.800781 14.027344 60.90625 12.863281 59.414062 C 11.765625 57.777344 11.335938 55.898438 11.707031 53.949219 C 12.289062 51.894531 13.390625 50.285156 15.191406 49.136719 C 15.5 49 15.5 49 15.734375 49.007812 C 16.136719 49.183594 16.507812 49.402344 16.882812 49.625 C 17.667969 50.078125 18.46875 50.488281 19.289062 50.875 C 19.441406 50.949219 19.441406 50.949219 19.597656 51.019531 C 20.179688 51.289062 20.671875 51.519531 21.320312 51.53125 C 21.417969 51.535156 21.515625 51.539062 21.617188 51.539062 C 21.703125 51.527344 21.789062 51.515625 21.875 51.5 C 22.164062 51.066406 22.179688 50.882812 22.125 50.375 C 21.863281 50.046875 21.59375 49.910156 21.210938 49.757812 C 21.101562 49.714844 20.996094 49.667969 20.886719 49.625 C 20.769531 49.578125 20.65625 49.53125 20.539062 49.484375 C 19.65625 49.117188 18.804688 48.730469 17.976562 48.257812 C 17.894531 48.210938 17.808594 48.164062 17.726562 48.113281 C 17.40625 47.929688 17.136719 47.761719 16.875 47.5 C 16.855469 47.15625 16.851562 46.828125 16.859375 46.484375 C 16.859375 46.390625 16.863281 46.296875 16.863281 46.199219 C 16.867188 45.964844 16.871094 45.734375 16.875 45.5 C 16.988281 45.488281 17.097656 45.476562 17.214844 45.46875 C 18.507812 45.316406 19.652344 45.03125 20.542969 44.023438 C 21.371094 42.921875 21.476562 41.710938 21.460938 40.375 C 21.464844 40.214844 21.46875 40.054688 21.472656 39.890625 C 21.46875 38.777344 21.253906 37.929688 20.625 37 C 20.535156 36.910156 20.445312 36.820312 20.351562 36.726562 C 20.125 36.5 20.125 36.5 20.125 36.203125 C 20.277344 35.796875 20.488281 35.5 20.75 35.15625 C 20.839844 35.035156 20.929688 34.914062 21.023438 34.789062 C 21.25 34.5 21.25 34.5 21.375 34.375 Z M 21.375 34.375 "></path>
        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(98.431373%,36.862746%,49.019608%);fill-opacity:1;" d="M 15.734375 49.007812 C 16.136719 49.183594 16.507812 49.402344 16.882812 49.625 C 17.667969 50.078125 18.46875 50.488281 19.289062 50.875 C 19.390625 50.921875 19.492188 50.972656 19.597656 51.019531 C 20.179688 51.289062 20.671875 51.519531 21.320312 51.53125 C 21.417969 51.535156 21.515625 51.539062 21.617188 51.539062 C 21.703125 51.527344 21.789062 51.515625 21.875 51.5 C 22 51.3125 22 51.3125 22.125 51.125 C 22.734375 51.199219 23.289062 51.320312 23.875 51.5 C 24 51.996094 24 51.996094 24.125 52.5 C 26.871094 53.25 29.792969 53.386719 32.625 53.5 C 32.28125 54.136719 31.90625 54.675781 31.429688 55.21875 C 31.332031 55.332031 31.332031 55.332031 31.230469 55.449219 C 30.203125 56.617188 29.109375 57.675781 27.875 58.625 C 27.792969 58.6875 27.714844 58.75 27.632812 58.816406 C 27.042969 59.273438 26.441406 59.710938 25.832031 60.136719 C 25.609375 60.296875 25.394531 60.457031 25.183594 60.625 C 22.828125 62.464844 20.25 62.464844 17.375 62.125 C 15.523438 61.800781 14.027344 60.90625 12.863281 59.414062 C 11.765625 57.777344 11.335938 55.898438 11.707031 53.949219 C 12.289062 51.894531 13.390625 50.285156 15.191406 49.136719 C 15.5 49 15.5 49 15.734375 49.007812 Z M 15.734375 49.007812 "></path>
        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(96.470588%,83.92157%,52.549022%);fill-opacity:1;" d="M 33.003906 2.023438 C 33.414062 2.273438 33.65625 2.535156 33.960938 2.90625 C 35.25 4.363281 37.015625 5.023438 38.796875 5.695312 C 41.878906 6.863281 44.523438 8.136719 46.375 11 C 46.375 11.082031 46.375 11.164062 46.375 11.25 C 46.097656 11.390625 45.816406 11.53125 45.539062 11.671875 C 45.460938 11.710938 45.382812 11.75 45.300781 11.792969 C 45.078125 11.90625 44.851562 12.015625 44.625 12.125 C 44.511719 12.183594 44.402344 12.238281 44.285156 12.296875 C 44 12.375 44 12.375 43.75 12.257812 C 43.625 12.15625 43.625 12.15625 43.5 12.054688 C 42.035156 10.984375 40.390625 10.777344 38.625 10.875 C 38.070312 10.964844 37.539062 11.101562 37 11.25 C 36.832031 11.292969 36.664062 11.332031 36.5 11.375 C 35.671875 11.574219 34.847656 11.78125 34.039062 12.046875 C 32.1875 12.539062 30.46875 12.210938 28.675781 11.707031 C 26.015625 10.96875 23.464844 10.347656 20.890625 11.714844 C 20.570312 11.910156 20.28125 12.125 20 12.375 C 19.46875 12.175781 18.964844 11.929688 18.460938 11.671875 C 18.378906 11.632812 18.300781 11.589844 18.214844 11.546875 C 18.019531 11.449219 17.820312 11.351562 17.625 11.25 C 18.25 9.351562 20.429688 7.8125 22.109375 6.925781 C 23.105469 6.4375 24.160156 6.066406 25.203125 5.671875 C 27.054688 4.972656 28.902344 4.273438 30.210938 2.71875 C 30.953125 1.84375 31.921875 1.597656 33.003906 2.023438 Z M 33.003906 2.023438 "></path>
        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(99.215686%,69.01961%,74.901962%);fill-opacity:1;" d="M 51.941406 13.085938 C 53.972656 14.628906 55.144531 16.839844 56.402344 19.003906 C 56.890625 19.832031 57.417969 20.617188 57.988281 21.390625 C 58.679688 22.339844 59.101562 23.0625 59 24.25 C 58.824219 25.183594 58.316406 25.882812 57.75 26.625 C 57.65625 26.582031 57.558594 26.539062 57.460938 26.492188 C 57.339844 26.4375 57.214844 26.378906 57.085938 26.320312 C 56.960938 26.265625 56.839844 26.207031 56.710938 26.148438 C 55.765625 25.730469 54.515625 25.707031 53.511719 25.96875 C 53.242188 26.085938 53 26.21875 52.75 26.375 C 52.621094 26.445312 52.492188 26.519531 52.359375 26.59375 C 51.539062 27.234375 50.996094 28.039062 50.460938 28.921875 C 49.535156 30.363281 48.007812 31.289062 46.351562 31.664062 C 46.195312 31.691406 46.035156 31.722656 45.875 31.75 C 45.9375 31.65625 46.003906 31.558594 46.070312 31.460938 C 47.570312 29.207031 48.554688 27.1875 48.523438 24.429688 C 48.523438 24.296875 48.523438 24.160156 48.523438 24.023438 C 48.578125 22.617188 48.578125 22.617188 48.085938 21.375 C 47.773438 21.144531 47.617188 21.074219 47.25 21 C 47.171875 20.71875 47.101562 20.4375 47.03125 20.15625 C 46.992188 20 46.949219 19.84375 46.90625 19.679688 C 46.898438 19.539062 46.886719 19.398438 46.875 19.25 C 46.957031 19.171875 47.039062 19.09375 47.125 19.015625 C 47.398438 18.78125 47.398438 18.78125 47.398438 18.507812 C 47.332031 17.78125 47.097656 17.164062 46.789062 16.507812 C 46.746094 16.410156 46.699219 16.3125 46.652344 16.210938 C 46.355469 15.566406 46.027344 14.953125 45.640625 14.355469 C 45.5 14.125 45.5 14.125 45.375 13.75 C 47.453125 12.570312 49.730469 11.601562 51.941406 13.085938 Z M 51.941406 13.085938 "></path>
        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(99.215686%,69.01961%,74.901962%);fill-opacity:1;" d="M 18.625 13.75 C 18.472656 14.0625 18.3125 14.363281 18.140625 14.667969 C 16.097656 18.308594 14.636719 23.089844 15.75 27.25 C 16.160156 28.652344 16.792969 29.804688 17.625 31 C 17.792969 31.25 17.957031 31.5 18.125 31.75 C 16.425781 31.601562 15.066406 30.652344 13.902344 29.457031 C 13.578125 29.070312 13.320312 28.664062 13.054688 28.234375 C 12.292969 27.003906 11.429688 26.242188 10 25.875 C 8.582031 25.660156 7.488281 25.902344 6.25 26.625 C 6.085938 26.390625 5.925781 26.15625 5.765625 25.921875 C 5.675781 25.792969 5.585938 25.660156 5.492188 25.527344 C 5.023438 24.75 4.875 24.019531 5 23.125 C 5.296875 22.226562 5.882812 21.519531 6.453125 20.78125 C 6.933594 20.144531 7.320312 19.449219 7.722656 18.761719 C 11.011719 13.164062 11.011719 13.164062 13.328125 12.429688 C 15.277344 12.0625 16.984375 12.722656 18.625 13.75 Z M 18.625 13.75 "></path>
        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(99.215686%,45.09804%,55.686277%);fill-opacity:1;" d="M 45.25 50.75 C 45.3125 50.898438 45.378906 51.042969 45.445312 51.195312 C 45.898438 52.085938 46.585938 52.722656 47.492188 53.140625 C 48.746094 53.5 50.105469 53.371094 51.25 52.75 C 51.417969 52.667969 51.582031 52.582031 51.75 52.5 C 51.832031 52.71875 51.910156 52.9375 51.992188 53.15625 C 52.058594 53.339844 52.058594 53.339844 52.128906 53.523438 C 52.703125 55.175781 52.386719 56.949219 51.679688 58.507812 C 50.804688 60.148438 49.433594 61.269531 47.695312 61.886719 C 46.535156 62.234375 45.382812 62.1875 44.183594 62.171875 C 43.941406 62.171875 43.695312 62.171875 43.453125 62.171875 C 42.816406 62.167969 42.175781 62.164062 41.539062 62.160156 C 40.886719 62.152344 40.234375 62.152344 39.582031 62.148438 C 38.304688 62.144531 37.027344 62.136719 35.75 62.125 C 35.871094 61.984375 35.988281 61.84375 36.109375 61.703125 C 36.207031 61.585938 36.207031 61.585938 36.3125 61.46875 C 36.535156 61.210938 36.765625 60.964844 37 60.71875 C 38.894531 58.613281 40.355469 56.195312 41.53125 53.628906 C 41.566406 53.546875 41.605469 53.46875 41.640625 53.386719 C 41.757812 53.121094 41.757812 53.121094 41.839844 52.808594 C 41.992188 52.308594 42.105469 51.976562 42.542969 51.671875 C 42.902344 51.5 43.265625 51.363281 43.640625 51.234375 C 43.765625 51.1875 43.894531 51.136719 44.023438 51.089844 C 44.933594 50.75 44.933594 50.75 45.25 50.75 Z M 45.25 50.75 "></path>
        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(99.215686%,85.882354%,88.235295%);fill-opacity:1;" d="M 56.5 28 C 57.242188 28.507812 57.632812 29.050781 57.8125 29.925781 C 57.898438 31.0625 57.367188 32.011719 56.875 33 C 56.816406 33.125 56.757812 33.25 56.699219 33.375 C 55.375 36.023438 52.917969 37.707031 50.171875 38.628906 C 49.234375 38.898438 48.347656 39.011719 47.375 39 C 47.324219 38.886719 47.273438 38.777344 47.222656 38.660156 C 46.519531 37.105469 45.730469 35.589844 44.75 34.1875 C 44.625 34 44.625 34 44.625 33.875 C 44.738281 33.855469 44.851562 33.835938 44.96875 33.816406 C 47.898438 33.269531 50.332031 32.222656 52.125 29.75 C 52.277344 29.507812 52.429688 29.261719 52.578125 29.015625 C 52.96875 28.378906 53.375 27.910156 54.113281 27.675781 C 54.96875 27.511719 55.730469 27.570312 56.5 28 Z M 56.5 28 "></path>
        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(99.215686%,45.09804%,55.686277%);fill-opacity:1;" d="M 22.125 51.125 C 22.734375 51.199219 23.289062 51.320312 23.875 51.5 C 23.957031 51.828125 24.039062 52.160156 24.125 52.5 C 26.871094 53.25 29.792969 53.386719 32.625 53.5 C 32.28125 54.136719 31.90625 54.675781 31.429688 55.21875 C 31.363281 55.292969 31.296875 55.371094 31.230469 55.449219 C 30.203125 56.617188 29.109375 57.675781 27.875 58.625 C 27.792969 58.6875 27.714844 58.75 27.632812 58.816406 C 26.449219 59.734375 25.230469 60.578125 23.953125 61.359375 C 23.832031 61.4375 23.710938 61.511719 23.589844 61.589844 C 22.671875 62.136719 21.933594 62.21875 20.875 62.125 C 20.761719 61.738281 20.734375 61.390625 20.734375 60.988281 C 20.734375 60.859375 20.734375 60.730469 20.734375 60.601562 C 20.734375 60.460938 20.734375 60.324219 20.734375 60.183594 C 20.734375 60.039062 20.734375 59.894531 20.734375 59.746094 C 20.734375 59.4375 20.734375 59.128906 20.734375 58.820312 C 20.734375 58.363281 20.734375 57.902344 20.734375 57.445312 C 20.730469 55.5 20.78125 53.566406 20.875 51.625 C 21.253906 51.59375 21.253906 51.59375 21.632812 51.5625 C 21.925781 51.515625 21.925781 51.515625 22.125 51.125 Z M 22.125 51.125 "></path>
        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(99.215686%,85.882354%,88.235295%);fill-opacity:1;" d="M 10.484375 27.929688 C 11.050781 28.367188 11.382812 28.894531 11.75 29.5 C 13.296875 31.820312 15.445312 33.109375 18.164062 33.675781 C 18.527344 33.746094 18.886719 33.8125 19.25 33.875 C 19.109375 34.519531 18.894531 35.074219 18.375 35.5 C 17.894531 35.5625 17.445312 35.539062 16.960938 35.507812 C 16.320312 35.496094 15.910156 35.664062 15.375 36 C 15.289062 36.050781 15.199219 36.101562 15.109375 36.15625 C 14.304688 36.691406 13.804688 37.460938 13.5 38.375 C 11.421875 38.117188 9.453125 36.441406 8.203125 34.84375 C 7.164062 33.421875 5.980469 31.433594 6.25 29.625 C 6.539062 28.769531 7.089844 28.1875 7.875 27.75 C 8.726562 27.46875 9.714844 27.457031 10.484375 27.929688 Z M 10.484375 27.929688 "></path>
        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(96.470588%,83.529413%,52.549022%);fill-opacity:1;" d="M 40 52.75 C 38.375 56.078125 36.175781 60.007812 33 62.125 C 32.699219 62.15625 32.699219 62.15625 32.335938 62.152344 C 32.203125 62.152344 32.066406 62.152344 31.929688 62.152344 C 31.78125 62.152344 31.636719 62.152344 31.488281 62.148438 C 31.261719 62.148438 31.261719 62.148438 31.035156 62.148438 C 30.558594 62.148438 30.078125 62.144531 29.601562 62.140625 C 29.277344 62.140625 28.953125 62.136719 28.632812 62.136719 C 27.835938 62.132812 27.042969 62.128906 26.25 62.125 C 26.6875 61.675781 27.117188 61.316406 27.640625 60.96875 C 30.113281 59.296875 32.558594 57.132812 34.144531 54.574219 C 34.226562 54.4375 34.3125 54.304688 34.398438 54.164062 C 34.46875 54.042969 34.542969 53.921875 34.613281 53.796875 C 35.230469 53.097656 36.5 53.105469 37.390625 52.957031 C 37.648438 52.914062 37.90625 52.867188 38.164062 52.824219 C 38.332031 52.796875 38.496094 52.769531 38.660156 52.742188 C 38.808594 52.714844 38.960938 52.691406 39.113281 52.664062 C 39.460938 52.628906 39.675781 52.636719 40 52.75 Z M 40 52.75 "></path>
        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(98.823529%,77.64706%,81.568629%);fill-opacity:1;" d="M 22.25 13 C 22.332031 13.042969 22.414062 13.082031 22.5 13.125 C 22.40625 13.230469 22.3125 13.332031 22.214844 13.441406 C 21.867188 13.859375 21.640625 14.308594 21.4375 14.8125 C 21.382812 14.949219 21.382812 14.949219 21.324219 15.085938 C 20.070312 18.339844 19.726562 22.207031 20.375 25.625 C 20.390625 25.703125 20.40625 25.785156 20.417969 25.867188 C 20.878906 28.285156 21.824219 30.453125 23.125 32.53125 C 23.25 32.75 23.25 32.75 23.375 33.125 C 22.746094 32.949219 22.261719 32.675781 21.726562 32.3125 C 21.644531 32.257812 21.5625 32.203125 21.480469 32.144531 C 19.378906 30.695312 17.867188 28.746094 17.335938 26.207031 C 16.683594 22.394531 17.941406 18.015625 20.125 14.867188 C 20.695312 14.121094 21.386719 13.40625 22.25 13 Z M 22.25 13 "></path>
        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(1.176471%,0.784314%,1.176471%);fill-opacity:1;" d="M 33.75 16.75 C 34.484375 17.40625 34.992188 18.167969 35.054688 19.167969 C 35.054688 19.359375 35.054688 19.550781 35.054688 19.742188 C 35.058594 19.882812 35.058594 19.882812 35.0625 20.03125 C 35.0625 20.960938 34.699219 21.753906 34.074219 22.453125 C 33.359375 23.074219 32.539062 23.367188 31.59375 23.316406 C 30.628906 23.125 29.949219 22.539062 29.394531 21.753906 C 28.808594 20.722656 28.804688 19.367188 29.105469 18.230469 C 29.5 17.371094 30.140625 16.742188 30.984375 16.320312 C 31.996094 16.136719 32.875 16.167969 33.75 16.75 Z M 33.75 16.75 "></path>
        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(98.431373%,60.392159%,67.843139%);fill-opacity:1;" d="M 21.375 34.375 C 21.929688 34.433594 22.386719 34.671875 22.875 34.929688 C 23.367188 35.183594 23.855469 35.429688 24.375 35.625 C 24.222656 36.121094 24.035156 36.574219 23.804688 37.039062 C 21.84375 40.988281 20.945312 45.226562 21 49.625 C 20 49.289062 19.085938 48.867188 18.164062 48.351562 C 18.066406 48.296875 17.964844 48.242188 17.863281 48.183594 C 17.160156 47.785156 17.160156 47.785156 16.875 47.5 C 16.855469 47.15625 16.851562 46.828125 16.859375 46.484375 C 16.859375 46.34375 16.859375 46.34375 16.863281 46.199219 C 16.867188 45.964844 16.871094 45.734375 16.875 45.5 C 16.988281 45.488281 17.097656 45.476562 17.214844 45.46875 C 18.507812 45.316406 19.652344 45.03125 20.542969 44.023438 C 21.371094 42.921875 21.476562 41.710938 21.460938 40.375 C 21.464844 40.214844 21.46875 40.054688 21.472656 39.890625 C 21.46875 38.777344 21.253906 37.929688 20.625 37 C 20.535156 36.910156 20.445312 36.820312 20.351562 36.726562 C 20.125 36.5 20.125 36.5 20.125 36.203125 C 20.277344 35.796875 20.488281 35.5 20.75 35.15625 C 20.839844 35.035156 20.929688 34.914062 21.023438 34.789062 C 21.25 34.5 21.25 34.5 21.375 34.375 Z M 21.375 34.375 "></path>
        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(98.431373%,77.64706%,81.568629%);fill-opacity:1;" d="M 18.285156 37.367188 C 18.835938 37.695312 19.367188 38.09375 19.574219 38.726562 C 19.6875 39.324219 19.660156 39.941406 19.664062 40.546875 C 19.667969 40.6875 19.671875 40.828125 19.675781 40.972656 C 19.683594 41.9375 19.59375 42.378906 18.929688 43.082031 C 18.316406 43.578125 17.820312 43.679688 17.046875 43.667969 C 16.339844 43.566406 15.871094 43.15625 15.445312 42.609375 C 15.054688 41.890625 15.085938 41.222656 15.070312 40.421875 C 15.066406 40.289062 15.058594 40.15625 15.054688 40.023438 C 15.039062 39.066406 15.230469 38.464844 15.875 37.75 C 16.5625 37.160156 17.441406 37.015625 18.285156 37.367188 Z M 18.285156 37.367188 "></path>
        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(98.823529%,77.64706%,81.568629%);fill-opacity:1;" d="M 49.75 45.25 C 50.40625 45.484375 50.816406 45.855469 51.148438 46.472656 C 51.363281 47.0625 51.320312 47.683594 51.3125 48.304688 C 51.3125 48.441406 51.316406 48.578125 51.320312 48.71875 C 51.3125 49.578125 51.210938 50.144531 50.75 50.875 C 50.082031 51.507812 49.507812 51.542969 48.617188 51.535156 C 47.964844 51.472656 47.644531 51.160156 47.21875 50.6875 C 46.6875 49.929688 46.699219 49.316406 46.695312 48.40625 C 46.691406 48.273438 46.6875 48.140625 46.683594 48.003906 C 46.675781 47.132812 46.796875 46.546875 47.375 45.875 C 48.128906 45.191406 48.75 45.140625 49.75 45.25 Z M 49.75 45.25 "></path>
        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(1.568628%,1.176471%,0.784314%);fill-opacity:1;" d="M 33.296875 5.070312 C 34.007812 5.488281 34.492188 6.09375 34.75 6.875 C 34.890625 7.828125 34.773438 8.558594 34.230469 9.359375 C 33.734375 9.929688 33.089844 10.3125 32.332031 10.414062 C 31.375 10.460938 30.726562 10.257812 30 9.625 C 29.351562 8.894531 29.136719 8.195312 29.195312 7.226562 C 29.332031 6.359375 29.722656 5.832031 30.390625 5.277344 C 31.238281 4.726562 32.371094 4.65625 33.296875 5.070312 Z M 33.296875 5.070312 "></path>
        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(95.686275%,80.392158%,43.137255%);fill-opacity:1;" d="M 26 5.625 C 25.828125 5.8125 25.828125 5.8125 25.625 6 C 25.542969 6 25.460938 6 25.375 6 C 25.328125 6.125 25.328125 6.125 25.28125 6.253906 C 25.128906 6.613281 24.960938 6.953125 24.785156 7.296875 C 23.8125 9.015625 23.8125 9.015625 23.375 10.875 C 23.28125 10.894531 23.1875 10.914062 23.089844 10.933594 C 21.933594 11.199219 20.894531 11.570312 20 12.375 C 19.46875 12.175781 18.964844 11.929688 18.460938 11.671875 C 18.378906 11.632812 18.300781 11.589844 18.214844 11.546875 C 18.019531 11.449219 17.820312 11.351562 17.625 11.25 C 18.261719 9.3125 20.441406 7.816406 22.167969 6.90625 C 22.859375 6.5625 23.570312 6.269531 24.289062 5.984375 C 24.414062 5.933594 24.542969 5.882812 24.671875 5.832031 C 24.789062 5.785156 24.90625 5.742188 25.03125 5.695312 C 25.136719 5.652344 25.242188 5.613281 25.351562 5.570312 C 25.625 5.5 25.625 5.5 26 5.625 Z M 26 5.625 "></path>
        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(97.254902%,44.313726%,54.509807%);fill-opacity:1;" d="M 32.375 18.125 C 32.695312 18.398438 32.9375 18.621094 33.125 19 C 33.144531 19.242188 33.152344 19.484375 33.15625 19.726562 C 33.160156 19.855469 33.164062 19.984375 33.164062 20.121094 C 33.121094 20.554688 33.007812 20.777344 32.75 21.125 C 32.308594 21.417969 32.144531 21.449219 31.625 21.375 C 31.019531 20.894531 30.792969 20.464844 30.695312 19.710938 C 30.765625 19.117188 31.003906 18.714844 31.375 18.25 C 31.734375 18.070312 31.972656 18.078125 32.375 18.125 Z M 32.375 18.125 "></path>
        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(2.352941%,1.960784%,1.960784%);fill-opacity:1;" d="M 24.375 25.625 C 24.707031 25.875 24.957031 26.074219 25.058594 26.492188 C 25.085938 26.765625 25.085938 27.035156 25.078125 27.3125 C 25.082031 27.40625 25.082031 27.5 25.085938 27.59375 C 25.082031 28.121094 25.039062 28.324219 24.707031 28.75 C 24.375 29 24.375 29 23.992188 29.070312 C 23.523438 28.980469 23.40625 28.886719 23.125 28.5 C 23.050781 28.101562 23.054688 27.714844 23.0625 27.3125 C 23.0625 27.207031 23.058594 27.097656 23.054688 26.988281 C 23.0625 26.214844 23.0625 26.214844 23.355469 25.804688 C 23.730469 25.554688 23.933594 25.542969 24.375 25.625 Z M 24.375 25.625 "></path>
        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(2.352941%,1.960784%,1.960784%);fill-opacity:1;" d="M 40.078125 25.625 C 40.492188 25.75 40.621094 25.792969 40.875 26.125 C 40.953125 26.515625 40.933594 26.910156 40.929688 27.304688 C 40.933594 27.410156 40.933594 27.519531 40.9375 27.628906 C 40.9375 28.414062 40.9375 28.414062 40.644531 28.820312 C 40.269531 29.070312 40.066406 29.082031 39.625 29 C 39.292969 28.75 39.042969 28.550781 38.941406 28.132812 C 38.914062 27.859375 38.914062 27.589844 38.921875 27.3125 C 38.917969 27.21875 38.917969 27.125 38.914062 27.03125 C 38.917969 26.507812 38.960938 26.300781 39.289062 25.871094 C 39.625 25.625 39.625 25.625 40.078125 25.625 Z M 40.078125 25.625 "></path>
        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(96.862745%,43.921569%,54.11765%);fill-opacity:1;" d="M 32.375 6.75 C 32.671875 6.953125 32.671875 6.953125 32.875 7.25 C 32.953125 7.707031 32.9375 7.910156 32.671875 8.296875 C 32.285156 8.5625 32.082031 8.578125 31.625 8.5 C 31.328125 8.296875 31.328125 8.296875 31.125 8 C 31.046875 7.542969 31.0625 7.339844 31.328125 6.953125 C 31.714844 6.6875 31.917969 6.671875 32.375 6.75 Z M 32.375 6.75 "></path>
      </g>
    </svg>

  </div>

  <%- include('../partials/footer.ejs') %>

  <div id="notification-banner" style="display: none;">
    <p>Would you like to recieve important notifications from 2k17 💌?</p>
    <div class="actions">
      <button id="later-btn">Maybe Later</button>
      <button id="grant-btn" onclick="requestNotificationPermissionAndSubscribe()">Yes</button>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      loadPosts();
      document.getElementById('media-input').addEventListener('change', function() {
        var preview = document.getElementById('media-preview');
        preview.innerHTML = '';
        Array.from(this.files).forEach(file => {
          var url = URL.createObjectURL(file);
          var el = file.type.startsWith('image') ?
            `<img src="${url}" />` :
            `<video src="${url}" muted autoplay loop />`;
          preview.innerHTML += el;
        });
      });
    })
  </script>
  <script src="/js/all.js"></script>
  <script src="/js/notifications.js"></script>
  <script src="/js/comment.js"></script>
  <script src="/js/createPost.js"></script>
  <script src="/js/components/confetti.js"></script>

  <script>
    let deferredPrompt;

    window.addEventListener('beforeinstallprompt', (e) => {
      e.preventDefault();
      deferredPrompt = e;

      const banner = document.getElementById('pwaBanner');
      banner.style.display = 'flex';

      document.getElementById('installBtn').addEventListener('click', async () => {
        if (deferredPrompt) {
          deferredPrompt.prompt();
          const {
            outcome
          } = await deferredPrompt.userChoice;
          deferredPrompt = null;
        }
      });
    });

    window.addEventListener('appinstalled', () => {
      document.getElementById('pwaBanner').style.display = 'none';
    });

    function getGreeting() {
      var now = new Date();
      var hours = now.getHours();

      if (hours >= 5 && hours < 12) {
        return "Good morning";
      } else if (hours >= 12 && hours < 17) {
        return "Good afternoon";
      } else if (hours >= 17 && hours < 21) {
        return "Good evening";
      } else {
        return "Welcome"; // No greeting (e.g., for night time)
      }
    }

    var greeting = getGreeting();
    var greetingElement = document.getElementById("greeting-msg")
    if (greetingElement) greetingElement.innerHTML = greeting;

    // ganesha theme confetti function
    function makeConfetti() {
      Confetti({
        origin: {
          x: 0.15,
          y: 0
        },
        colors: ['#FF9933', '#F47820', '#FFC107', '#FFD700', '#E32636'],
        duration: 5000,
        spawnRate: 8
      });

      Confetti({
        origin: {
          x: 0.85,
          y: 0
        },
        colors: ['#FF9933', '#F47820', '#FFC107', '#FFD700', '#E32636'],
        duration: 5000,
        spawnRate: 8
      });
    }



    let quill;

    document.addEventListener('DOMContentLoaded', () => {

      // ganesha theme confetti
      makeConfetti()


      // Prevent re-initializing
      if (quill) return;

      quill = new Quill('#editor2', {
        theme: 'snow', // Use the 'snow' theme for a clean toolbar
        placeholder: 'Say hi to everyone...',
        modules: {
          // Configure the toolbar for bold, italics, underline, and links
          toolbar: [
            ['bold', 'italic', 'underline'],
            ['link']
          ]
        }
      });
    })
  </script>

</body>

</html>