<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <title>2k17 — Class Social Space</title>
  <link rel="stylesheet" href="/css/home.css" />
</head>
<body>
  <%- include('../partials/loader.ejs') %>
  <%- include('../partials/navbar.ejs') %>

  <main>
    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-text">
          <h2 id="greeting"><span id="greeting-msg"></span>, <%= user.name.split(' ')[0] %></h2>
          <p>Private space to reconnect, share moments, and relive memories for the 2017-24 batch of JNV Chandrapur</p><br>
          <a href="/create-account" class="cta-btn">Get Started &nbsp; &nbsp; <span class="fal fa-arrow-right"></span></a>
        </div>
        <div class="featured-photo" onclick="window.open()">
          <img src="/images/jnv-bg-1.jpg" alt="Today's featured photo" class="featured-photo-img">
          <div class="overlay-text">Photo of the Day</div>
        </div>
    </section>

    <div class="events-container">
    <section id="events" class="events">
      <p class="heading">Upcoming Events</p>
      <div class="event">
        <img src="<%= user.profilePicture %>" alt="" class="event-img">
        <div class="event-info">
          <p class="title"><%= user.name %>'s birthday 🎂</p>
          <p class="description">on <%- formatDate2(user.dob) %></p>
        </div>
      </div>
    </section>
    </div><br><br><br>

    <section class="posts" id="posts">
      <p class="heading">Posts in last 30 days</p>

      <% if(posts){ %>
        <% posts.forEach(post => { %>
          <div class="post">
            <div class="user-info">
              <img src="<%= post.author.profilePicture %>" alt="" class="user-profile">
              <div class="user-info-helper">
                <span class="name"><%= post.author.name %></span><br>
                <span class="username">@<%= post.author.username %> (<%= post.timeAgo %>)</span>
              </div>
            </div>
            <div class="post-data">
              <p class="post-text"><%= post.text %></p>
              <% if(post.media){ %>
                <% if(post.media.type.startsWith('image')) { %>
                  <img src="<%= post.media.url %>" alt="" class="post-img">
                <% } else if(post.media.type.startsWith('video')) { %>
                  <video controls class="post-video">
                    <source src="<%= post.media.url %>" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                <% } %>
              <% } %>
            </div>
            <div class="post-buttons">
              <% if(user) { %>
              <% var isLiked = post.likes.some(u => u._id.toString() === user._id.toString()) %>
              <% } else { var isLiked = false } %>
              <button class="like-btn" onclick="toggleLike('<%= post._id %>')" id="like-btn-<%=post._id %>">
                <span class="<%- isLiked ? 'fas' : 'fal' %> fa-heart" id="like-icon-<%= post._id %>"></span>
                <span id="like-count-<%= post._id %>"><%= post.likes.length %></span>
              </button>

              <button class="comment-btn" onclick="loadComments('<%= post._id %>', '<%= user._id %>')" id="comment-btn-<%= post._id %>"><span class="fal fa-comment"></span><%= post.comments.length %></button>
              <div class="btns-right">
                <button class="report-btn"><span class="fal fa-triangle-exclamation"></span></button>
                <button class="save-btn"><span class="fal fa-bookmark"></span></button>
              </div>
            </div>
          </div>
        <% }) %>
      <% } %>
    </section>

    <br><br><br><br><br>
  </main>

  <div id="comments-popup">
    <div class="overlay" onclick="hidePopup()"></div>
    <div class="comments-box">
      <div class="heading"><p>Comments</p><p class="close-icon fas fa-times" onclick="hidePopup()"></p></div>
      <div class="comments-list" id="comments-list">
      </div>
      <div class="input-area">
        <input id="new-comment" autocomplete="off" placeholder="Write a comment..."/>
        <button type="button" id="newCommentBtn">Post</button>
      </div>
    </div>
  </div>


  <script src="/js/home.js"></script>

</body>
</html>
