<!DOCTYPE html>
<html data-theme="<%= theme? theme : 'purple' %>" lang="en">

<head>
  <%- include('../partials/head.ejs') %>
  <title>Home ❤️ 2k17</title>
  <link rel="stylesheet" href="/styles/css/home.css" />
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#1f1c2e">
  <meta name="accent-color" content="<%= theme? theme : 'purple' %>">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="/images/icons/logo_192x192.png">

</head>

<body>
  <%- include('../partials/loader') %>
  <%- include('../partials/navbar') %>

  <main>
    <!-- Hero Section -->
    <section class="hero">
      <div class="hero-text">
        <h2 id="greeting"><span id="greeting-msg"></span>, <%= user.name.split(' ')[0] %></h2>
        <p>Ready to catch up with your batchmates and relive the best moments of 2k17?</p><br>
        <a class="cta-btn" onclick="document.getElementById('posts').scrollIntoView({behavior: 'smooth'})">Explore posts &nbsp; &nbsp; <span class="fal fa-arrow-right"></span></a>
      </div>
      <div class="featured-photo">
        <img src="<%= featuredPhoto.url %>" alt="Today's featured photo" class="featured-photo-img">
        <div class="overlay-text">Featured photo</div>
      </div>
    </section>

    <% if (birthdays.length > 0) { %>
    <section id="birthday-spotlight" class="no-select">
      <h3><span class="fal fa-cake-candles"></span> Birthday Spotlight</h3>

      <div class="gallery-grid">
        <% birthdays.forEach(bdayuser => { %>
        <div class="image-card" style="padding: 1.2rem;" onclick="window.location.href='/<%= bdayuser.username %>'">
          <img src="<%- bdayuser.profile || '/images/user.png' %>" alt="<%= bdayuser.name %>'s photo">
          <h4 style="margin-bottom: 10px;"><%= bdayuser.name %> <%- bdayuser.isBirthdayToday ? '🎂' : '' %></h4>
          <p class="grey-1">@<%= bdayuser.username%></p>
          <% if(bdayuser.isBirthdayToday){ %>
          <p style="line-height: 26px;">Happy Birthday! 🎉</p>
          <% } else { %>
          <p style="line-height: 26px;">on <%- formatDOB(bdayuser.dob) %></p>
          <% } %>
        </div>
        <% }) %>
      </div>
    </section>
    <% } %>

    <br>

    <div class="pwa-banner" id="pwaBanner" style="display: none;">
      <div class="text">
        <div class="title"><span class="fal fa-mobile-screen-button"></span> 2k17 is better in the app</div>
        <div class="subtitle">Get notifications and much more</div>
      </div>
      <button class="install-btn" id="installBtn">Install</button>
    </div>

    <br class="small-only">

    <div class="create-post-box small-only" onclick="openPostPopup()">
      <p class="heading">Create a new post</p>
      <div class="pseudo-post-box">
        <input readonly type="text" placeholder="What's on your mind?">
        <span class="fal fa-image"></span>
      </div>
    </div>
    <span class="small-only"><br></span>

    <section class="posts" id="posts">
    </section>

    <br><br><br><br><br>
  </main>

  <div id="comments-popup">
    <div class="overlay" onclick="hidePopup()" id="overlay"></div>
    <div class="comments-box">
      <div class="heading">
        <p>Comments</p>
        <p class="close-icon fas fa-times" onclick="hidePopup()"></p>
      </div>
      <div class="comments-list" id="comments-list">
      </div>
      <div class="input-area">
        <input id="new-comment" autocomplete="off" placeholder="Write a comment..." />
        <button type="button" id="newCommentBtn">Post</button>
      </div>
    </div>
  </div>

  <div id="post-popup" class="popup-wrapper">
    <div class="overlay" onclick="closePostPopup()"></div>
    <div class="post-box">
      <div class="heading">
        <p>Create a new post</p>
        <p class="close-icon fal fa-xmark" onclick="closePostPopup()"></p>
      </div>
      <span class="grey-1"><span class="fal fa-info-circle"></span> &nbsp;You can mention people by typing @ followed by their name or username. Use @all to mention everyone.</span>
      <div id="editor" contenteditable="true" class="editor" placeholder="Say hi to everyone..."></div>
      <textarea id="hiddenContent" name="content" hidden></textarea>
      <ul id="mentionBox" class="mention-box hidden"></ul>
      <input type="file" id="media-input" accept="image/*">
      <label for="media-input" class="upload-label"><span class="fal fa-upload"></span> &nbsp; Add photo</label>
      <div class="preview" id="media-preview"></div>

      <div class="action-buttons">
        <button class="cancel-btn" onclick="closePostPopup()">Cancel</button>
        <button class="create-post-btn" onclick="createPost('<%= user._id %>')">Post</button>
      </div>
    </div>
  </div>

  <div id="post-likes-popup">
    <div class="overlay" onclick="closePostLikes()"></div>
    <div class="post-likes-box">
      <div class="heading">
        <p class="title"><span class="fal fa-heart"></span> Likes on post</p>
        <p class="close-icon fal fa-xmark" onclick="closePostLikes()"></p>
      </div>
      <div class="post-likes-list" id="post-likes-list">

      </div>
    </div>
  </div>



  <%- include('../partials/footer.ejs') %>

  <div id="notification-banner" style="display: none;">
    <p>Would you like to recieve important notifications from 2k17 💌?</p>
    <div class="actions">
      <button id="later-btn">Maybe Later</button>
      <button id="grant-btn" onclick="requestNotificationPermissionAndSubscribe()">Yes</button>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      loadPosts('<%= user._id %>');
      document.getElementById('media-input').addEventListener('change', function() {
        var preview = document.getElementById('media-preview');
        preview.innerHTML = '';
        Array.from(this.files).forEach(file => {
          var url = URL.createObjectURL(file);
          var el = file.type.startsWith('image') ?
            `<img src="${url}" />` :
            `<video src="${url}" muted autoplay loop />`;
          preview.innerHTML += el;
        });
      });
    })
  </script>
  <script src="/js/all.js"></script>
  <script src="/js/notifications.js"></script>
  <script src="/js/home.js"></script>
  <script src="/js/createPost.js"></script>

  <script>
    let deferredPrompt;

    window.addEventListener('beforeinstallprompt', (e) => {
      e.preventDefault();
      deferredPrompt = e;

      const banner = document.getElementById('pwaBanner');
      banner.style.display = 'flex';

      document.getElementById('installBtn').addEventListener('click', async () => {
        if (deferredPrompt) {
          deferredPrompt.prompt();
          const {
            outcome
          } = await deferredPrompt.userChoice;
          deferredPrompt = null;
        }
      });
    });

    window.addEventListener('appinstalled', () => {
      document.getElementById('pwaBanner').style.display = 'none';
    });
  </script>

</body>

</html>