<!DOCTYPE html>
<html data-theme="<%= theme ?? 'purple' %>" data-font="<%= font ?? 'Lato' %>" lang="en">

<head>
  <%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/styles/css/signup_login.css" />
  <title>Log In • 2k17 Platform</title>
</head>

<body>
  <%- include('../partials/loader.ejs') %>
  <%- include('../partials/navbar.ejs') %>
  <div class="container loader-after-body" style="display: none;">
    <div class="right-pane">
      <div class="signup-form">
        <h1>Login to 2k17 ❤️</h1>
        <p>Don't have an account? &nbsp;<a href="/create-account">Create account</a></p><br>
        <% if (typeof error !== 'undefined' && error) { %>
          <div style="color: red; margin-top: 5px;"><%= error %></div>
        <% } else { %>
        <small class="grey-1" id="info"><span class="fal fa-info-circle"></span> &nbsp; Please <a href="mailto:2k17platform@gmail.com?cc=wadhaiujwal@gmail.com&subject=2k17 Platform Support">contact us</a> if you face any problems.</small>
        <% } %><br><br>
        <div>
          <input type="text" id="username" name="username" placeholder="Enter email or username" oninput="this.value = this.value.toLowerCase().replace(/[^a-zA-Z0-9_@.]/g, '')" onkeyup="if(event.key === 'Enter') document.getElementById('password').focus()" />
          <div class="password-field">
            <input id="password" name="password" type="password" placeholder="Enter password (or activation code)" onkeyup="if(event.key === 'Enter') document.getElementById('login_btn').click()" />
            <span onclick="togglePassword()" id="toggle" class="eye-icon fal fa-eye"></span>
          </div><br>
        </div>

        <p><a href="/login/email">Login with Email OTP instead</a></p>
        <p><a style="margin-top: 8px;" onclick="openForgottenPassword()">Forgotten password?</a></p>
        <button onclick="login('/home')" class="primary-btn" id="login_btn">Continue</button><br>
        <a href="/auth/google" class="google-btn">
          <img src="/images/icons/google.svg" alt="Google Logo" class="google-icon">
          Continue with Google
        </a>
        <br>
        <span class="only-small"><br><br></span>
      </div>
    </div>
  </div>

  <div id="forgotten-password-popup">
    <div class="overlay" onclick="closeForgottenPassword()"></div>
    <div class="forgotten-password-box">
      <div class="heading">
        <p class="title"><span class="fal fa-unlock-keyhole"></span> Forgotten password</p>
        <p class="close-icon fal fa-xmark" onclick="closeForgottenPassword()"></p>
      </div>
      <div class="forgotten-password-list" id="forgotten-password-list">
        <span class="grey-1"><span class="fal fa-info-circle"></span> &nbsp; A password reset link will be sent to this email.</span><br><br>
        <form id="forgotten-password-form">
          <input type="email" autocomplete="email" name="email" placeholder="Email registered with 2k17 Platform *" required>
          <br>
          <div id="forgotten-password-status"></div><br>
          <button type="submit">Send reset link</button>
        </form>
      </div>
    </div>
  </div>

  <script src="/js/login.js"></script>
</body>

</html>