<!DOCTYPE html>
<html data-theme="<%= theme ?? 'purple' %>" data-font="<%= font ?? 'Lato' %>" lang="en">

<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/styles/css/members.css">
  <title>Members of 2k17 Platform</title>
</head>

<body>
  <%- include('../partials/loader') %>
  <%- include('../partials/navbar') %>

  <section class="members-page loader-after-body" style="display: none;">
    <h2>Platform members</h2>
    <input type="text" id="searchInput" placeholder="Search by name, username or year..." />

    <div class="members-container" id="membersContainer">
      <% members.forEach(member => { %>

      <div class="member-card">
        <div class="upper">
          <img onclick="window.location.href='/<%= member.username %>'" src="<%- member.profile ? member.profile : '/images/user.png' %>" class="upper-img" alt="Profile of <%= member.name %>">
          <div class="upper-info">
            <p class="name" onclick="window.location.href='/<%= member.username %>'"><%= member.name %>
            </p>
            <% if (member.username) { %>
            <span class="username" onclick="window.location.href='/<%= member.username %>'">@<%= member.username %></span>
              <% if (member.role == 'admin') { %>
              <span class="admin-badge"><%= member.role %></span>
              <% } %>
            <% } else { %>
            <span class="username" style="cursor: text;">Not registered</span>
            <% } %>
            <p class="year"><%- member.year %> &nbsp;in JNV</p>
          </div>
        </div>
        <p class="bio"><%- member.bio ? member.bio : "<span  style='color: #888'>Ex-student of JNV Chandrapur</span>" %></p>
        <% if (((member.email && member?.settings?.privacy?.email) || (member.phone && member?.settings?.privacy?.phone))) { %>
        <div class="social-links">
          <% const domainIconMap = { facebook: 'fab fa-facebook', instagram: 'fab fa-instagram', linkedin: 'fab fa-linkedin', twitter: 'fab fa-x-twitter', 'x.com': 'fab fa-x-twitter', 'x-twitter': 'fab fa-x-twitter',threads: 'fab fa-threads',snapchat: 'fab fa-snapchat',youtube: 'fab fa-youtube',pinterest: 'fab fa-pinterest',whatsapp: 'fab fa-whatsapp',telegram: 'fab fa-telegram',discord: 'fab fa-discord',reddit: 'fab fa-reddit',github: 'fab fa-github',spotify: 'fab fa-spotify',default: 'fal fa-link'}%>
          <% if (member.socialLinks) {
                Object.entries(member.socialLinks).forEach(([key, value]) => {
                  if (!value) return;
                  const brandIcons = ['facebook', 'instagram', 'linkedin', 'twitter', 'github', 'reddit', 'youtube', 'tiktok', 'snapchat', 'telegram', 'discord'];
                  const iconPrefix = brandIcons.includes(key.toLowerCase()) ? 'fab' : 'fal';
                  const iconClass = `${iconPrefix} fa-${brandIcons.includes(key.toLowerCase()) ? key.toLowerCase() : 'link-simple'}`;
              %>
          <a href="<%= value %>" target="_blank" title="<%= key %>">
            <span class="<%= iconClass %>"></span>
          </a>
          <% }) } %>


          <% if (member.email && member?.settings?.privacy?.email) { %>
          <a href="mailto:<%= member.email %>" target="_blank"><span class="fal fa-envelope"></span></a>
          <% } %>
          <% if (member.phone && member?.settings?.privacy?.phone) { %>
          <a href="tel:<%= member.phone %>" target="_blank"><span class="fal fa-phone-volume"></span></a>
          <% } %>
        </div>
        <% } else { %>
        <div class="grey-2">No contact details available</div>
        <% } %>
      </div>

      <% }) %>
    </div>
  </section>

  <%- include('../partials/footer') %>

  <script>
    var input = document.getElementById('searchInput');
    var cards = document.querySelectorAll('.member-card');

    input.addEventListener('input', () => {
      var val = input.value.toLowerCase();
      cards.forEach(card => {
        var text = card.innerText.toLowerCase();
        card.style.display = text.includes(val) ? 'block' : 'none';
      });
    });
  </script>
</body>

</html>