<!DOCTYPE html>
<html data-theme="<%= theme || 'purple' %>" lang="en">

<head>
  <%- include('../partials/head') %>
  <title><%- currentFolder ? currentFolder.name : 'Featured Memories' %></title>
  <link rel="preconnect" href="https://res.cloudinary.com" />
  <link rel="stylesheet" href="/styles/css/memories.css">
</head>

<body>
  <%- include('../partials/loader') %>
  <%- include('../partials/navbar') %>
  <input type="hidden" name="" value="<%- user?._id || userId || '' %>" id="userId">
  <br><br>
  <section class="memories-container">
    <h1>Batch Memories</h1>
    <div class="tabs">
      <button onclick="loadFolder('root', true)" class="tab <%- typeof tab && tab === 'drive' ? '' : 'active' %>" data-title="Featured Memories" data-tab="featured"><span class="fal fa-sparkles"></span>Featured</button>
      <% if(userId){ %>
      <button onclick="loadFolder('root')" class="tab <%- typeof tab && tab === 'drive' ? 'active' : '' %>" data-title="2k17 Drive" data-tab="drive">Drive</button>
      <% } else { %>
      <button onclick="window.location.href = '/login'" class="tab" data-title="2k17 Drive" data-tab="">Login for all memories</button>
      <% } %>
    </div>

    <div class="tab-content <%- tab && tab === 'drive' ? 'hidden' : '' %>" id="featured-tab">
      <div class="gallery featured-gallery">

      </div>
    </div>

    <div class="tab-content <%- typeof tab && tab === 'drive' ? '' : 'hidden' %>" id="drive-tab">
      <div class="breadcrumb">
        <a onclick="loadFolder('root')"><span class="fal fa-house"></span></a>

      </div>

      <div class="folders">

      </div>
      <div class="gallery drive-gallery">

      </div>
    </div>
  </section>

  <%- include('../partials/footer') %>

  <div id="view-image-popup" class="view-file-popup">
    <div class="overlay" onclick="closeViewImage()"></div>
    <div class="view-file-box">
      <div class="heading">
        <p class="title"><span class="fal fa-image file-type-icon"></span> <span id="imgName"></span></p>
        <div class="right-btns">
          <p id="share-icon" class="comments-icon fal fa-share"></p>
          <p id="comments-icon" class="comments-icon fal fa-message"></p>
          <p class="close-icon fal fa-xmark" onclick="closeViewImage()"></p>
        </div>
      </div> 
      <div class="view-image-large" id="view-image-large">
        <img src="" oncontextmenu="return false;" alt="Image" id="imgLarge">
        <button class="action-btn tag-memory" id="tagBtnImg" aria-label="Tag Memory">I'm in this memory</button>
      </div>
    </div>
  </div>

  <div id="view-video-popup" class="view-file-popup">
    <div class="overlay" onclick="closeViewVideo()"></div>
    <div class="view-file-box">
      <div class="heading">
        <p class="title"><span class="fal fa-video"></span> <span id="videoName"></span></p>
        <div class="right-btns">
          <p id="share-icon" class="comments-icon fal fa-share"></p>
          <p id="comments-icon" class="comments-icon fal fa-message"></p>
          <p class="close-icon fal fa-xmark" onclick="closeViewVideo()"></p>
        </div>
      </div>
      <div class="view-video-large" id="view-video-large">
        <div class="iframe-wrapper">
          <iframe id="videoIframe" frameborder="0" width="650" height="900"></iframe>
          <div class="overlay-text">2k17 Platform ❤️</div>
        </div>
      </div>
    </div>
  </div>

  <div id="comments-popup">
    <div class="overlay" onclick="closeComments()" id="overlay"></div>
    <div class="comments-box">
      <div class="heading">
        <p>Comments</p>
        <p class="close-icon fas fa-times" onclick="closeComments()"></p>
      </div>
      <div class="comments-list" id="comments-list">
      </div>
      <div class="input-area">
        <input id="new-comment" autocomplete="off" placeholder="Write a comment..." />
        <button type="button" id="newCommentBtn">Post</button>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      loadFolder('<%= currentFolder?._id %>')
    })
    const USER_ID = '<%- user ? user._id : null %>'
  </script>
  <script src="/js/memories.js"></script>

</body>

</html>