<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title><%- currentFolder ? currentFolder.name : 'Featured Memories' %></title>
    <link rel="preconnect" href="https://res.cloudinary.com" />
    <link rel="stylesheet" href="/styles/css/memories.css">
</head>
<body>
  <%- include('../partials/navbar') %>
  <%- include('../partials/loader') %>
  <br><br>
    <section class="memories-container">
      <h1>Batch Memories</h1>
  <div class="tabs">
    <button class="tab <%- typeof tab && tab === 'drive' ? '' : 'active' %>" data-title="Featured Memories" data-tab="featured"><span class="fal fa-sparkles"></span>Featured</button>
    <button onclick="loadFolder('root')" class="tab <%- typeof tab && tab === 'drive' ? 'active' : '' %>" data-title="2k17 Drive" data-tab="drive">Drive</button>
  </div>

  <div class="tab-content <%- tab && tab === 'drive' ? 'hidden' : '' %>" id="featured-tab">
    <div class="gallery featured-gallery">
      
    </div>
  </div> 

  <div class="tab-content <%- typeof tab && tab === 'drive' ? '' : 'hidden' %>" id="drive-tab">
    <div class="breadcrumb">
      <a onclick="loadFolder('root')"><span class="fal fa-house"></span></a>
      
    </div> 

    <div class="folders">
        
    </div>
    <div class="gallery drive-gallery">
       
    </div>
  </div>
</section>

<%- include('../partials/footer') %>

<div id="view-image-popup">
    <div class="overlay" onclick="closeViewImage()"></div>
    <div class="view-image-box">
      <div class="heading">
        <p class="title"><span class="fal fa-image"></span> <span id="imgName"></span></p>
        <p class="close-icon fal fa-xmark" onclick="closeViewImage()"></p>
      </div>
      <div class="view-image-large" id="view-image-large">
        <img src="" oncontextmenu="return false;" alt="Image" id="imgLarge">
        <div class="comments">
          <div class="actions">
            <span class="fal fa-heart"></span>
            <span class="fal fa-share"></span>
          </div>
          <p class="extend-like-msg"><img src="/images/user.png" alt="" class="user-profile"> Liked by &nbsp;<span onclick='window.location.href="/ujwalw"'>ujwalw</span>&nbsp; and 5 others</p>
          
          <div class="comments-box">
            <p class="section-heading"><b>Comments</b></p>
            <div class="comment" id="comment-comment._id">
              <img src="/images/user.png" alt="" class="user-profile">
              <div class="comment-info">
                <p class="name">
                  John Doe &nbsp; <span class="time">3m</span>
                </p>
                <span class="text">Nice</span>
              </div>
              <div class="action-buttons">
                <span class="fal fa-trash-alt red" onclick="deleteComment()"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script src="/js/memories.js"></script>
<script>document.addEventListener('DOMContentLoaded', ()=>{
    loadFolder('<%= currentFolder?._id %>')
  })
</script>

</body>
</html>