<!DOCTYPE html>
<html data-theme="<%= theme ?? 'purple' %>" data-font="<%= font ?? 'Lato' %>" lang="en">

<head>
  <%- include('../partials/head') %>
  <title>Post Not Found</title>
  <link rel="stylesheet" href="/styles/css/error.css" />
</head>

<body>
  <%- include('../partials/navbar') %>
  <%- include('../partials/loader') %>
  <div class="error-container loader-after-body" style="display: none">
    <p class="heading">Post Not Found</p>
    <p class="message">Oops! The post you're looking for doesn't exist or may have been deleted by it's owner.</p>
    <a href="/" class="back-btn"><span class="fal fa-house"></span>Go to Home</a>
  </div>
  <%- include('../partials/footer') %>
</body>

</html>