<!DOCTYPE html>
<html data-theme="<%= theme ?? 'purple' %>" data-font="<%= font ?? 'Lato' %>" lang="en">

<head>
  <%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/styles/css/signup_login.css" />
  <title>Create account • 2k17 Platform</title>
</head>

<body>
  <%- include('../partials/loader.ejs') %>
  <%- include('../partials/navbar.ejs') %>
  <div class="container loader-after-body" style="display: none;">

    <div class="right-pane">
      <div class="signup-form" id="register-form" style="height:90vh">
        <span class="only-small"><br></span>


        <h1 class="error">Create account</h1>
        <p>Already have an account? &nbsp;<a href="/login">Login instead</a></p>
        <div>
          <% if(false){ %>
          <div>
            <div>
              <input type="input" autocomplete="name" name="name" id="name" placeholder="Full Name *" oninput="updateUsername(this.value)" required />
            </div>
            <div>
              <input type="input" autocomplete="username" name="username" id="username" placeholder="Username *" required />
            </div>
            <input type="email" autocomplete="email" name="email" id="email" placeholder="Email *" required />
            <div class="password-field">
              <input type="password" id="password" placeholder="Enter password of your choice *" />
              <span class="eye-icon fal fa-eye" id="toggle" onclick="togglePassword()"></span>
            </div>
            <div>
              <span>Date of Birth:</span>
              <input type="date" autocomplete="date" name="dob" id="dob" placeholder="Date of Birth *" required />
            </div>
            <br />
            <label class="terms">
              <input type="checkbox" id="terms-box" />
              I agree to the &nbsp;
              <a href="/terms-of-service"> Terms of Service</a> </label>
          </div>
          <% } %> <br>
          <div style="color: grey; line-height: 25px">Creating new accounts is disabled. Please contact Ujwal or Prajyot if you want to create a new account.</div><br>
          <% if(false){ %>
          <button onclick="register()" id="signup-btn" class="primary-btn" disabled>Create Account</button><br />
          <% } else { %>
          <button class="primary-btn"><a style="color: white" href="mailto:2k17platform@gmail.com">Send us an email</a></button>
          <% } %>
          <!--<a href="/auth/google" class="google-btn">
            <img src="/images/icons/google.svg" alt="Google Logo" class="google-icon">
            Continue with Google
          </a><br />-->
          <span class="only-small"><br /><br /></span>
        </div>
      </div>
    </div>

    <div id="toast-container" style="
        position: absolute;
        bottom: 32px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999;
      "></div>

    <script src="/js/register.js"></script>
</body>

</html>