<!DOCTYPE html>
<html data-theme="<%= theme ?? 'purple' %>" data-font="<%= font ?? 'Lato' %>" lang="en">

<head>
  <%- include('../partials/head') %>
  <title>Settings</title>
  <link rel="stylesheet" href="/styles/css/settings.css">
</head>

<body>
  <%- include('../partials/loader') %>
  <%- include('../partials/navbar') %>
  <br><br>
  <div class="settings-container loader-after-body" style="display: none;">
    <h2>Settings</h2><br>
    <div class="links">
      <ul>
        <li onclick="window.location.href='/profile/edit'"><a href="/profile/edit"><span class="fal fa-user"></span>
            Update profile</a></li>
        <li onclick="window.location.href='/account'"><a href="/account"><span class="fal fa-user-circle"></span> My account</a></li>
        <li onclick="openChangeAppearance()"><a><span class="fal fa-palette"></span> Appearance</a></li>
        <li onclick="openNotificationSettings()"><a><span class="fal fa-bell"></span> Notifications</a></li>
        <li onclick="openPrivacySettings()"><a><span class="fal fa-eye-slash"></span> Privacy & Visibility</a></li>
      </ul>
      <% if(false){ %>
      <ul>
        <li onclick="openReportProblem()"><a><span class="fal fa-triangle-exclamation"></span>
            Report a problem</a></li>
        <li onclick="openGiveSuggestion()"><a><span class="fal fa-lightbulb-on"></span> Suggest new feature</a></li>
      </ul>
      <% } %>
      <ul id="account">
        <!--<li onclick="window.location.href='/delete-account'"><a href="/delete-account"><span class="fal fa-trash"></span> Delete
            account</a></li>-->
        <li onclick="window.location.href='/logout'"><a href="/logout"><span class="fal fa-right-from-bracket"></span>
            Log out</a></li>
      </ul>

    </div><br><br>
    <br>
  </div>

  <div id="notification-settings-popup">
    <div class="overlay" onclick="closeNotificationSettings()"></div>
    <div class="notification-settings-box">
      <div class="heading">
        <p class="title"><span class="fal fa-bell"></span>Notifications settings</p>
        <p class="close-icon fal fa-xmark" onclick="closeNotificationSettings()"></p>
      </div>
      <div class="notification-settings-list" id="notification-settings-list">
        <span class="grey-1"><span class="fal fa-info-circle"></span> &nbsp;Notifications for OTPs and newsletter are always
          sent.</span><br><br><br>
        <form id="settings-form">
          <div class="form-section">
            <label>
              <input type="checkbox" id="push" name="push" <%- settings.notifications?.push ? 'checked' : '' %>>
              Push notifications <small class="grey-1"> &nbsp;(Permission needed)</small>
            </label>
            <label>
              <input type="checkbox" name="email" <%=settings.notifications.email ? 'checked' : '' %>>
              Email notifications
            </label>
          </div><br>

          <div id="settings-status"></div>
          <button type="submit">Save Settings</button>
        </form>

      </div>
    </div>
  </div>

  <div id="change-appearance-popup">
    <div class="overlay" onclick="closeChangeAppearance()"></div>
    <div class="change-appearance-box">
      <div class="heading">
        <p class="title"><span class="fal fa-palette"></span>Change Appearance</p>
        <p class="close-icon fal fa-xmark" onclick="closeChangeAppearance()"></p>
      </div>
      <div class="change-appearance-list" id="change-appearance-list">
        <span class="grey-1"><span class="fal fa-info-circle"></span> &nbsp;This only changes theme color. Dark mode will still be on.</span><br>
        <p id="change-preview-para" style="font-family: var(--font-family); color: var(--primary); line-height: 25px">This is sample paragraph to help you preview the selected theme color and font style. Feel free to explore combinations of different themes & fonts.</p><br>
        
        <form id="change-appearance-form">
          <div class="form-section">
            <label for="theme-select">Theme:</label>
            <select name="theme" id="theme-select">
              <option value="green" <%- theme == 'green' ? 'selected' : '' %>>
                Green <%- theme == 'green' ? '(current)' : '(recommended)' %>
              </option>
              <option value="purple" <%- theme == 'purple' ? 'selected' : '' %>>
                Purple <%- theme == 'purple' ? '(current)' : '' %>
              </option>
              <option value="blue" <%- theme == 'blue' ? 'selected' : '' %>>
                Blue <%- theme == 'blue' ? '(current)' : '' %>
              </option>
              <option value="red" <%- theme == 'red' ? 'selected' : '' %>>
                Red <%- theme == 'red' ? '(current)' : '' %>
              </option>
              <option value="pink" <%- theme == 'pink' ? 'selected' : '' %>>
                Pink <%- theme == 'pink' ? '(current)' : '' %>
              </option>
              <option value="teal" <%- theme == 'teal' ? 'selected' : '' %>>
                Teal <%- theme == 'teal' ? '(current)' : '' %>
              </option>
              <option value="cyan" <%- theme == 'cyan' ? 'selected' : '' %>>
                Ocean <%- theme == 'cyan' ? '(current)' : '' %>
              </option>
              <option value="brown" <%- theme == 'brown' ? 'selected' : '' %>>
                Chocolate <%- theme == 'brown' ? '(current)' : '' %>
              </option>
            </select>
          </div>
          <br>
          <div class="form-section">
            <label for="font-select">Font:</label>
            <select name="font" id="font-select">
              <option value="Lato" <%- font == 'Lato' ? 'selected' : '' %>>
                Lato <%- font == 'Lato' ? '(current)' : '(recommended)' %>
              </option>
              <option value="OpenSans" <%- font == 'OpenSans' ? 'selected' : '' %>>
                Open Sans <%- font == 'OpenSans' ? '(current)' : '' %>
              </option>
              <option value="NunitoSans" <%- font == 'NunitoSans' ? 'selected' : '' %>>
                Nunito Sans <%- font == 'NunitoSans' ? '(current)' : '' %>
              </option>
              <option value="Montserrat" <%- font == 'Montserrat' ? 'selected' : '' %>>
                Montserrat <%- font == 'Montserrat' ? '(current)' : '' %>
              </option>
              <option value="RobotoSlab" <%- font == 'RobotoSlab' ? 'selected' : '' %>>
                Roboto Slab <%- font == 'RobotoSlab' ? '(current)' : '' %>
              </option>
              <option value="EBGaramond" <%- font == 'EBGaramond' ? 'selected' : '' %>>
                EB Garamond <%- font == 'EBGaramond' ? '(current)' : '' %>
              </option>
              <option value="NotoSans" <%- font == 'NotoSans' ? 'selected' : '' %>>
                Noto Sans <%- font == 'NotoSans' ? '(current)' : '' %>
              </option>
              <option value="Merriweather" <%- font == 'Merriweather' ? 'selected' : '' %>>
                Merriweather <%- font == 'Merriweather' ? '(current)' : '' %>
              </option>
            </select>
          </div>
          <br>
          <div style="margin-top: 4px" id="change-appearance-status"></div>
          <button type="submit">Change</button>
        </form>

      </div>
    </div>
  </div>

  <div id="report-problem-popup">
    <div class="overlay" onclick="closeReportProblem()"></div>
    <div class="report-problem-box">
      <div class="heading">
        <p class="title"><span class="fal fa-triangle-exclamation"></span> Report a problem</p>
        <p class="close-icon fal fa-xmark" onclick="closeReportProblem()"></p>
      </div>
      <div class="report-problem-list" id="report-problem-list">
        <span class="grey-1"><span class="fal fa-info-circle"></span> &nbsp; Be as brief as possible so we can understand the issue properly.</span><br><br>
        <form id="report-problem-form">
          <input type="text" autocomplete="off" name="subject" required placeholder="Brief subject..." />
          <textarea name="details" rows="5" required placeholder="Explain the problem you are facing..."></textarea>
          <br>
          <div id="report-problem-status"></div><br>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <% if(false){ %><div id="give-suggestion-popup">
    <div class="overlay" onclick="closeGiveSuggestion()"></div>
    <div class="give-suggestion-box">
      <div class="heading">
        <p class="title"><span class="fal fa-lightbulb-on"></span> New feature details</p>
        <p class="close-icon fal fa-xmark" onclick="closeGiveSuggestion()"></p>
      </div>
      <div class="give-suggestion-list" id="give-suggestion-list">
        <span class="grey-1"><span class="fal fa-info-circle"></span> &nbsp; You can also email this at <a href="mailto:2k17platform@gmail.com">2k17platform@gmail.com</a>.</span><br><br>
        <form id="give-suggestion-form">
          <input type="text" autocomplete="off" name="subject" required placeholder="Main purpose of feature" />
          <textarea name="details" rows="5" required placeholder="Explain this feature for better understanding..."></textarea>
          <br>
          <div id="give-suggestion-status"></div><br>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div><% } %>

  <div id="privacy-settings-popup">
    <div class="overlay" onclick="closePrivacySettings()"></div>
    <div class="privacy-settings-box">
      <div class="heading">
        <p class="title"><span class="fal fa-eye-slash"></span>Privacy & Visibility</p>
        <p class="close-icon fal fa-xmark" onclick="closePrivacySettings()"></p>
      </div>
      <div class="privacy-settings-list" id="privacy-settings-list">
        <span class="grey-1"><span class="fal fa-info-circle"></span> &nbsp;Your profile will be in spotlight on your birthday even if you hide the birth date.<br>Check mark the details you want other people to see:</span><br><br><br>
        <form id="privacy-settings-form">
          <div class="form-section">
            <label>
              <input type="checkbox" id="privacy-email" name="email" <%- settings.privacy?.email ? 'checked' : '' %>>
              Email <small class="grey-1"> &nbsp;(System emails will always be sent.)</small>
            </label>
            <label>
              <input type="checkbox" name="phone" <%=settings.privacy?.phone ? 'checked' : '' %>>
              Phone number
            </label>
            <label>
              <input type="checkbox" name="dob" <%=settings.privacy?.dob ? 'checked' : '' %>>
              Date of birth
            </label>
          </div><br>

          <div id="privacy-settings-status"></div>
          <button type="submit">Save Settings</button>
        </form>

      </div>
    </div>
  </div>

  <script src="/js/settings.js"></script>
  <script src="/js/notifications.js"></script>
</body>

</html>