<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <title><%= file.name %> - 2k17</title>
  <link rel="stylesheet" href="/styles/css/memories.css">
</head>

<body>
  <% if(file.type == 'image') { %>
  <div id="view-image-popup" class="view-file-popup">
    <div class="overlay" onclick="window.location.href = '/memories'"></div>
    <div class="view-file-box">
      <div class="heading">
        <p class="title"><span class="fal fa-image file-type-icon"></span> <span id="imgName"><%= file.name %></span></p>
        <div class="right-btns">
          <p id="share-icon" class="comments-icon fal fa-share" onclick="shareImage('<%= file._id %>', '<%= file.thumbnail %>')"></p>
          <p id="comments-icon" class="comments-icon fal fa-message" onclick="openComments('<%= file._id %>')"></p>
          <p class="close-icon fal fa-xmark" onclick="window.location.href = '/memories'"></p>
        </div>
      </div>
      <div class="view-image-large" id="view-image-large">
        <img src="<%= file.url %>" oncontextmenu="return false;" alt="Image" id="imgLarge">
      </div>
    </div>
  </div>
  <% } else if (file.type == 'video') { %>
  <div id="view-video-popup" class="view-file-popup">
    <div class="overlay" onclick="window.location.href = '/memories'"></div>
    <div class="view-file-box">
      <div class="heading">
        <p class="title"><span class="fal fa-video"></span> <span id="videoName"><%= file.name %></span></p>
        <div class="right-btns">
          <p id="share-icon" class="comments-icon fal fa-share" onclick="shareImage('<%= file._id %>', '<%= file.thumbnail %>')"></p>
          <p id="comments-icon" class="comments-icon fal fa-message" onclick="openComments('<%= file._id %>', '<%- user? user._id : null %>')"></p>
          <p class="close-icon fal fa-xmark" onclick="window.location.href = '/memories'"></p>
        </div>
      </div>
      <div class="view-video-large" id="view-video-large">
        <div class="iframe-wrapper">
          <iframe id="videoIframe" frameborder="0" width="650" height="900" src="<%= file.url %>" allowfullscreen></iframe>
          <div class="overlay-text">2k17 Platform ❤️</div>
        </div>
      </div>
    </div>
  </div>
  <% } %>

  <div id="comments-popup">
    <div class="overlay" onclick="closeComments()" id="overlay"></div>
    <div class="comments-box">
      <div class="heading">
        <p>Comments</p>
        <p class="close-icon fas fa-times" onclick="closeComments()"></p>
      </div>
      <div class="comments-list" id="comments-list">
      </div>
      <div class="input-area">
        <input id="new-comment" autocomplete="off" placeholder="Write a comment..." />
        <button type="button" id="newCommentBtn">Post</button>
      </div>
    </div>
  </div>

  <script src="/js/viewFile.js"></script>
  <script>
    openViewImage('<%= file._id %>', '<%- user? user._id : null %>')
  </script>
</body>

</html>