<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head') %>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/css/quiz/main.css">
</head>
<body>
    <%- include('../../partials/navbar') %>
    <div class="results-container">
        <h1><%= title %></h1>
        <p class="score">You Scored</p>
        <p class="score-display"><%= score %> / 15</p>
        <p class="rank">Your current rank is<br><span><strong>#<%= rank %></strong> out of <%= totalPlayers %> players.</span></p>
        <div class="actions">
            <a href="/quiz/leaderboard" class="btn"><span class="fal fa-chart-mixed"></span> View Leaderboard</a>
        </div>
    </div>

    <script src="/js/components/confetti.js"></script>

    <script>
        Confetti()
    </script>
</body>
</html>