<!DOCTYPE html>
<html data-theme="<%= theme ?? 'purple' %>" data-font="<%= font ?? 'Lato' %>" lang="en">

<head>
  <%- include('../../partials/head') %>
  <title>Analytics for <%= new Date(date).toLocaleDateString('en-IN', {timeZone: 'Asia/Kolkata', year: 'numeric', month: 'short', day: 'numeric'}) %></title>
  <link rel="stylesheet" href="/styles/css/analytics.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
</head>

<body>
  <%- include('../../partials/navbar') %>
  <%- include('../../partials/loader') %>
  <br><br><br><br>

  <div class="analytics-page">
    <h3 id="analytics-head">Analytics <input type="date" min="2025-07-07" max="<%= new Date().toISOString().slice(0, 10) %>" id="analyticsDate" value="<%= new Date(date).toISOString().slice(0, 10) %>" onchange="showAnalytics(this.value)"></h3>
    <div id="section-1">
      <section class="analytics-summary">
        <div class="summary-card">
          <span class="label">Total users</span>
          <span class="value" id="total-users"><%= allusers.guests + allusers.users.length %></span>
          <p id="usersTodayList"><%= allusers.guests %> guests, <%= allusers.users.length %> known</p>
        </div>
        <div class="summary-card">
          <span class="label">Average time spent</span>
          <span class="value"><span id="avgTime"><%= sessionData.avgTime %> </span> <span style="color: #737373; font-size: 14px; font-weight: 400; margin-left: 5px;">minutes/user</span></span>
          <p id="avgTimeChange">Counted over <%= sessionData.count %> sessions</p>
        </div>
        <div class="summary-card">
          <span class="label">Collective time spent</span>
          <span class="value"><span id="collectiveTime"><%= sessionData.collectiveTime %></span> <span style="color: #737373; font-size: 14px; font-weight: 400; margin-left: 5px;">minutes</span></span>
          <p id="collectiveTimeChange">Counted over <%= sessionData.count %> sessions</p>
        </div>
      </section>

      <section class="analytics-section" id="active-users"><br>
        <h3>Users</h3>
        <p style="color: #888; font-size: 14px; margin: 0 0 0.8rem 1.2rem; font-weight: bold">Total: <%= allusers.guests + allusers.users.length %> (<%= allusers.guests %> guests, <%= allusers.users.length %> known)</p>
        <table class="analytics-table" id="online-users-table">
          <thead>
            <tr>
              <th>User</th>
              <th>Time</th>
              <th>Platform</th>
            </tr>
          </thead>
          <tbody id="online-users-body">
          <% if(allusers.users.length > 0) { %>
            <% allusers.users.forEach(sessionInfo => { %>
              <tr>
                <td><%= sessionInfo.user.name %></td>
                <td><%= new Date(sessionInfo.createdAt).toLocaleTimeString('en-IN', { hour: '2-digit', minute: '2-digit' }) %></td>
                <td><%= sessionInfo.platform %></td>
              </tr>
            <% }) } else { %>
              <tr style="color: #888">
                <td colspan="3" style="text-align: center;">No known users for <%= new Date(date).toLocaleDateString('en-IN', {timeZone: 'Asia/Kolkata', year: 'numeric', month: 'long', day: 'numeric'}) %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </section><br>
    </div>

    <br><br>

    <div class="route-and-platform-container">
      <section class="analytics-section" id="daily-route-stats">
        <div class="daily-route-header">
          <h3>Route Visits</h3>
          <input type="date" id="daily-route-date" value="<%= new Date(date).toISOString().slice(0, 10) %>" disabled />
        </div>
        <p class="summary-card" id="top-page">
          <span class="label">Top Page : </span>
          <span class="value">Loading...</span>
        </p><br>
        <div style="overflow-x: auto;">
          <canvas id="daily-route-chart" height="300">Loading ...</canvas>
        </div>
      </section>

      <section class="analytics-section" id="platform-distribution">
        <h3>Platform analysis</h3>
        <span id="no-data" class="grey-1"></span>
        <div class="platform-chart-container">
          <canvas id="platform-pie-chart" width="250" height="250">Loading ...</canvas>
        </div>
      </section>
    </div>

    <br><br><br>
  </div>
  <script src="/js/admin/dayAnalytics.js"></script>

  <script>
  const themeColor = '<%= theme? theme : 'purple' %>'
  document.addEventListener('DOMContentLoaded', () => {
    updateDailyRouteChart(new Date('<%= date %>').toISOString().slice(0, 10))
    var data = <%- JSON.stringify(platform_data) %>
    loadPlatformPieChart(data)
  })
  </script>

</body>

</html>